// Basestyling.css is intended to be used to set some basic commonly shared styles not already set
// via root themes or by the normalise function previously set.

@import '../init';

div,
p,
blockquote,
th,
td,
li,
dt,
dd {
  @include adjust-font-size-to(16px, 4);

  @include breakpoint($phab, $no-query: true) {
    @include adjust-font-size-to(18px, 4.5);
  }
}

ul,
ol {
  padding-left: 1.9rem;
}

li {
  padding-bottom: rhythm(.75);
  @include breakpoint($phab, $no-query: true) {
    padding-bottom: rhythm(1);
  }
}

p,
ul,
ol,
blockquote,
table,
address {
  margin: rhythm(2) 0 rhythm(4);

  @include breakpoint($phab, $no-query: true) {
    margin: rhythm(3) 0 rhythm(4.5);
  }
}

p + ol,
p + ul {
  @include rhythm-margins(-2, 4);

  @include breakpoint($phab, $no-query: true) {
    @include rhythm-margins(-2, 4.5);
  }
}
