/*
 * @file
 * Sets out the base behaviour of table elements.
 */
@import '../init';

// Tables
//
// The `<table>` element displays tabular data in rows, columns, and cells.
//
// Markup: kss-templates/tables-table.twig
//
// Weight: -1
//
// Style guide: base.table

table {
  // Add vertical rhythm margins.
  margin: 1em 0 1.5em;

  // Remove most spacing between table cells.
  border-collapse: collapse;
  border-spacing: 0;

  // Prevent cramped-looking tables.
  width: 100%;

  caption {
    padding: 0 0 .5em;
  }

  p {
    margin: .9rem 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

td,
th {
  @include adjust-font-size-to(14px, 4);
  box-sizing: border-box;
  border: 1px solid $table-border-color;
  padding: .4rem .4rem .3rem; // -1px on bottom border to maintain vertical rhythm.
  text-align: left;
  vertical-align: top;

  @include breakpoint($phab, $no-query: true) {
    @include adjust-font-size-to(16px, 4);
    padding: .8rem .8rem .7rem; // -1px on bottom border to maintain vertical rhythm.
  }

  @include breakpoint($tab, $no-query: true) {
    @include adjust-font-size-to(16px, 4.5); // need 27px line height for vertical rhythm now.
    padding: .9rem .9rem .8rem; // -1px on bottom border to maintain vertical rhythm.
  }

  & * {
    font-size: inherit;
    line-height: inherit;
  }
}

th {
  background-color: $brand-primary-light;
}

td {
  background-color: #fff;
}

tr {
  &:nth-child(odd) td {
    background: $grey-lightest;
  }

  &:nth-child(even) td {
    background: #fff;
  }
}
