/*
 * @file
 * Provides the styling for icon components. The file then extrapolates some concepts around icons further
 * for when they are used in some kind of message container.
 */
/* Vertical rhythm presets =========================================== */
/* Set the base images folder */
/* Layout ============================================================ */
/* Breakpoints ======================================================== */
/* line 37, src/scss/3_components/content/icons-messages.scss */
.ico {
  display: inline;
  margin-left: .2em;
}

/* line 48, src/scss/3_components/content/icons-messages.scss */
.ico-elink {
  height: 1.1rem;
  width: 1.4rem;
  margin-bottom: .3rem;
}

/* line 64, src/scss/3_components/content/icons-messages.scss */
.ico-arrow-left {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 73, src/scss/3_components/content/icons-messages.scss */
.ico-arrow-up {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

/* line 77, src/scss/3_components/content/icons-messages.scss */
.ico-arrow-down {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* line 82, src/scss/3_components/content/icons-messages.scss */
.info-notice, .messages {
  border: 2px solid;
  margin: 1.5em 0;
  padding: 1rem 1rem 1rem 4rem;
}

@media (min-width: 600px) {
  /* line 82, src/scss/3_components/content/icons-messages.scss */
  .info-notice, .messages {
    padding: 1.4rem 1.4rem 1.4rem 6rem;
  }
}

/* line 91, src/scss/3_components/content/icons-messages.scss */
.info-notice > *:first-child, .messages > *:first-child {
  margin-top: 0;
}

/* line 95, src/scss/3_components/content/icons-messages.scss */
.info-notice > *:last-child, .messages > *:last-child {
  margin-bottom: 0;
}

/* line 100, src/scss/3_components/content/icons-messages.scss */
.info-notice {
  border-color: #cee4f6;
  background: #fff url('../../../images/i.svg?170a14ecb26') no-repeat 0.9rem 0.9rem/24px 24px;
}

@media (min-width: 600px) {
  /* line 100, src/scss/3_components/content/icons-messages.scss */
  .info-notice {
    background: #fff url('../../../images/i.svg?170a14ecb26') no-repeat 1.4rem 1.4rem/30px 30px;
  }
}

/* line 109, src/scss/3_components/content/icons-messages.scss */
.no-svg .info-notice {
  background-image: url('../../../images/i.png?170a14ecb25');
}

/* line 113, src/scss/3_components/content/icons-messages.scss */
.info-notice--success {
  border-color: #048a05;
  background: #fff url('../../../images/status.svg?170a14ecb27') no-repeat 0.9rem 0.9rem/24px 24px;
}

@media (min-width: 600px) {
  /* line 113, src/scss/3_components/content/icons-messages.scss */
  .info-notice--success {
    background: #fff url('../../../images/status.svg?170a14ecb27') no-repeat 1.4rem 1.4rem/30px 30px;
  }
}

/* line 121, src/scss/3_components/content/icons-messages.scss */
.no-svg .info-notice--success {
  background-image: url('../../../images/status.png?170a14ecb27');
}

/* line 126, src/scss/3_components/content/icons-messages.scss */
.info-notice--error {
  border-color: #e34f4f;
  background: #fff url('../../../images/wrong.svg?170a14ecb28') no-repeat 0.9rem 0.9rem/24px 24px;
}

@media (min-width: 600px) {
  /* line 126, src/scss/3_components/content/icons-messages.scss */
  .info-notice--error {
    background: #fff url('../../../images/wrong.svg?170a14ecb28') no-repeat 1.4rem 1.4rem/30px 30px;
  }
}

/* line 134, src/scss/3_components/content/icons-messages.scss */
.no-svg .info-notice--error {
  background-image: url('../../../images/wrong.png?170a14ecb28');
}

/* line 139, src/scss/3_components/content/icons-messages.scss */
.info-notice--warning {
  border-color: #db6304;
  background: #fff url('../../../images/warning.svg?170a14ecb28') no-repeat 0.9rem 0.9rem/24px 24px;
}

@media (min-width: 600px) {
  /* line 139, src/scss/3_components/content/icons-messages.scss */
  .info-notice--warning {
    background: #fff url('../../../images/warning.svg?170a14ecb28') no-repeat 1.4rem 1.4rem/30px 30px;
  }
}

/* line 147, src/scss/3_components/content/icons-messages.scss */
.no-svg .info-notice--warning {
  background-image: url('../../../images/warning.png?170a14ecb27');
}

/* line 153, src/scss/3_components/content/icons-messages.scss */
ul.info-notice {
  padding: 1rem 1rem 1rem 4rem;
}

@media (min-width: 600px) {
  /* line 153, src/scss/3_components/content/icons-messages.scss */
  ul.info-notice {
    padding: 1.4rem 1.4rem 1.4rem 7rem;
  }
}

/* line 165, src/scss/3_components/content/icons-messages.scss */
.messages-list {
  margin: 2.5rem 0;
  list-style: none;
}

/* line 169, src/scss/3_components/content/icons-messages.scss */
.field .messages-list,
.form-wrapper .messages-list {
  margin-bottom: 0;
}

/* line 178, src/scss/3_components/content/icons-messages.scss */
.messages--error {
  border-color: #e34f4f;
  background: #fff url('../../../images/wrong.svg?170a14ecb28') no-repeat 0.9rem 0.9rem/24px 24px;
}

@media (min-width: 600px) {
  /* line 178, src/scss/3_components/content/icons-messages.scss */
  .messages--error {
    background: #fff url('../../../images/wrong.svg?170a14ecb28') no-repeat 1.4rem 1.4rem/30px 30px;
  }
}

/* line 186, src/scss/3_components/content/icons-messages.scss */
.no-svg .messages--error {
  background-image: url('../../../images/wrong.png?170a14ecb28');
}

/* line 191, src/scss/3_components/content/icons-messages.scss */
.messages--status {
  border-color: #048a05;
  background: #fff url('../../../images/status.svg?170a14ecb27') no-repeat 0.9rem 0.9rem/24px 24px;
}

@media (min-width: 600px) {
  /* line 191, src/scss/3_components/content/icons-messages.scss */
  .messages--status {
    background: #fff url('../../../images/status.svg?170a14ecb27') no-repeat 1.4rem 1.4rem/30px 30px;
  }
}

/* line 199, src/scss/3_components/content/icons-messages.scss */
.no-svg .messages--status {
  background-image: url('../../../images/status.png?170a14ecb27');
}

/* line 204, src/scss/3_components/content/icons-messages.scss */
.messages--warning {
  border-color: #db6304;
  background: #fff url('../../../images/warning.svg?170a14ecb28') no-repeat 0.9rem 0.9rem/24px 24px;
}

@media (min-width: 600px) {
  /* line 204, src/scss/3_components/content/icons-messages.scss */
  .messages--warning {
    background: #fff url('../../../images/warning.svg?170a14ecb28') no-repeat 1.4rem 1.4rem/30px 30px;
  }
}

/* line 212, src/scss/3_components/content/icons-messages.scss */
.no-svg .messages--warning {
  background-image: url('../../../images/warning.png?170a14ecb27');
}

/* line 217, src/scss/3_components/content/icons-messages.scss */
.messages__list {
  margin: 0;
}

/* line 221, src/scss/3_components/content/icons-messages.scss */
.messages__item {
  font-size: 1.8rem;
}

/* line 224, src/scss/3_components/content/icons-messages.scss */
.messages__item:first-child {
  margin-top: 0;
}

/*# sourceMappingURL=icons-messages.css.map */