/*
 * @file
 * Provides the layout styles for common nics 2 column layouts.
 */
/* Vertical rhythm presets =========================================== */
/* Set the base images folder */
/* Layout ============================================================ */
/* Breakpoints ======================================================== */
@media (min-width: 768px) {
  /* line 32, src/scss/2_layouts/nics-2-col-layouts.scss */
  .layout--main-n-side, .layout--side-n-main {
    grid-gap: 24px;
  }
  /* line 38, src/scss/2_layouts/nics-2-col-layouts.scss */
  .layout--main-n-side .ga-main, .layout--side-n-main .ga-main {
    /* no grid support? */
    float: left;
    width: 62%;
  }
  /* line 44, src/scss/2_layouts/nics-2-col-layouts.scss */
  .layout--main-n-side .ga-aside, .layout--side-n-main .ga-aside {
    /* no grid support? */
    float: right;
    width: 34%;
  }
}

@media (min-width: 980px) {
  /* line 32, src/scss/2_layouts/nics-2-col-layouts.scss */
  .layout--main-n-side, .layout--side-n-main {
    grid-gap: 28px;
  }
  /* line 55, src/scss/2_layouts/nics-2-col-layouts.scss */
  .layout--main-n-side .ga-main, .layout--side-n-main .ga-main {
    /* no grid support? */
    width: 65.958%;
  }
  /* line 60, src/scss/2_layouts/nics-2-col-layouts.scss */
  .layout--main-n-side .ga-aside, .layout--side-n-main .ga-aside {
    /* no grid support? */
    width: 31.064%;
  }
}

/* line 67, src/scss/2_layouts/nics-2-col-layouts.scss */
.layout--main-n-side {
  grid-template-areas: 'main' 'side';
}

/* line 74, src/scss/2_layouts/nics-2-col-layouts.scss */
.layout--main-n-side .ga-main {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: main;
}

/* line 78, src/scss/2_layouts/nics-2-col-layouts.scss */
.layout--main-n-side .ga-aside {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: side;
  padding-top: 4.2rem;
}

@media (min-width: 768px) {
  /* line 67, src/scss/2_layouts/nics-2-col-layouts.scss */
  .layout--main-n-side {
    -ms-grid-columns: 2fr 28px 1fr;
    grid-template-columns: 2fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    grid-template-areas: 'main side';
  }
  .layout--main-n-side .ga-main {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .layout--main-n-side .ga-aside {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
}

@media (min-width: 980px) {
  /* line 67, src/scss/2_layouts/nics-2-col-layouts.scss */
  .layout--main-n-side {
    -ms-grid-columns: 620fr 28px 292fr;
    grid-template-columns: 620fr 292fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    grid-template-areas: 'main side';
  }
  .layout--main-n-side .ga-main {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .layout--main-n-side .ga-aside {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
}

/* line 96, src/scss/2_layouts/nics-2-col-layouts.scss */
.layout--side-n-main {
  grid-template-areas: 'side' 'main';
}

/* line 103, src/scss/2_layouts/nics-2-col-layouts.scss */
.layout--side-n-main .ga-main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
}

/* line 107, src/scss/2_layouts/nics-2-col-layouts.scss */
.layout--side-n-main .ga-aside {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: side;
}
@media (min-width: 768px) {
  .layout--side-n-main .ga-main {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .layout--side-n-main .ga-aside {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
}
@media (min-width: 980px) {
  .layout--side-n-main .ga-main {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .layout--side-n-main .ga-aside {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
}

@media (min-width: 768px) {
  /* line 96, src/scss/2_layouts/nics-2-col-layouts.scss */
  .layout--side-n-main {
    -ms-grid-columns: 1fr 28px 2fr;
    grid-template-columns: 1fr 2fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    grid-template-areas: 'side main';
  }
  /* line 116, src/scss/2_layouts/nics-2-col-layouts.scss */
  .layout--side-n-main .ga-main {
    /* no grid support? */
    float: right;
  }
  /* line 121, src/scss/2_layouts/nics-2-col-layouts.scss */
  .layout--side-n-main .ga-aside {
    /* no grid support? */
    float: left;
  }
  .layout--side-n-main > .ga-main {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .layout--side-n-main > .ga-aside {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .layout--side-n-main > .ga-main {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .layout--side-n-main > .ga-aside {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
}

@media (min-width: 980px) {
  /* line 96, src/scss/2_layouts/nics-2-col-layouts.scss */
  .layout--side-n-main {
    -ms-grid-columns: 292fr 28px 620fr;
    grid-template-columns: 292fr 620fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  .layout--side-n-main > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .layout--side-n-main > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
}

@media (min-width: 768px) {
  /* line 133, src/scss/2_layouts/nics-2-col-layouts.scss */
  .layout--diptych {
    -ms-grid-columns: 1fr 24px 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    grid-gap: 24px;
  }
  .layout--diptych > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .layout--diptych > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  /* line 139, src/scss/2_layouts/nics-2-col-layouts.scss */
  .layout--diptych > * {
    /* no grid support? */
    float: left;
    width: 50%;
  }
}

/*# sourceMappingURL=nics-2-col-layouts.css.map */