/*
 * @file
 * Provides the styling for button components.
 */
/* Vertical rhythm presets =========================================== */
/* Set the base images folder */
/* Layout ============================================================ */
/* Breakpoints ======================================================== */
/*
 * @file
 * Provides some base definitions that are common among button type elements.
 */
/* line 45, src/scss/3_components/form/button/_button-defs.scss */
.call-to-action, .btn {
  border: 1px solid;
  min-width: 100px;
  padding: 1rem;
  text-align: center;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position-y: center;
}

@media (min-width: 600px) {
  /* line 45, src/scss/3_components/form/button/_button-defs.scss */
  .call-to-action, .btn {
    min-width: 120px;
    padding: 1.2rem 2.4rem;
  }
}

/* line 59, src/scss/3_components/form/button/_button-defs.scss */
.call-to-action:link, .btn:link, .call-to-action:visited, .btn:visited {
  color: #fff;
}

/* line 64, src/scss/3_components/form/button/_button-defs.scss */
.call-to-action:focus, .btn:focus {
  outline: 3px solid #333;
}

/* line 23, src/scss/3_components/form/buttons.scss */
.call-to-action {
  background-color: #048a05;
  border-color: #048a05;
  font-size: 2.1rem;
  line-height: 2.4rem;
  position: relative;
  padding-right: 3.9rem;
}

/* line 21, src/scss/3_components/form/button/_button-defs.scss */
.call-to-action:hover {
  background-color: #037104;
  border-color: #037104;
}

/* line 26, src/scss/3_components/form/button/_button-defs.scss */
.call-to-action:active {
  background-color: #037104;
  border-color: #037104;
}

@media screen and (min-width: 768px) {
  /* line 23, src/scss/3_components/form/buttons.scss */
  .call-to-action {
    font-size: 2.4rem;
    line-height: 3rem;
  }
}

/* line 30, src/scss/3_components/form/buttons.scss */
a.call-to-action {
  text-align: left;
  color: #fff;
}

/* line 35, src/scss/3_components/form/buttons.scss */
.call-to-action .ico-arrow-right {
  height: 2.5rem;
  margin-right: 1.2rem;
  position: absolute;
  right: 0;
  top: calc(50% - 1.25rem);
  width: 1.5rem;
}

/* line 48, src/scss/3_components/form/buttons.scss */
.btn-standard {
  background-color: #333;
  border-color: #333;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

/* line 21, src/scss/3_components/form/button/_button-defs.scss */
.btn-standard:hover {
  background-color: #262626;
  border-color: #262626;
}

/* line 26, src/scss/3_components/form/button/_button-defs.scss */
.btn-standard:active {
  background-color: #262626;
  border-color: #262626;
}

@media screen and (min-width: 768px) {
  /* line 48, src/scss/3_components/form/buttons.scss */
  .btn-standard {
    font-size: 1.8rem;
    line-height: 2.7rem;
  }
}

/* line 53, src/scss/3_components/form/buttons.scss */
.btn-primary {
  background-color: #0a78cd;
  border-color: #0a78cd;
  color: #fff;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

/* line 21, src/scss/3_components/form/button/_button-defs.scss */
.btn-primary:hover {
  background-color: #096ab5;
  border-color: #096ab5;
}

/* line 26, src/scss/3_components/form/button/_button-defs.scss */
.btn-primary:active {
  background-color: #096ab5;
  border-color: #096ab5;
}

@media screen and (min-width: 768px) {
  /* line 53, src/scss/3_components/form/buttons.scss */
  .btn-primary {
    font-size: 1.8rem;
    line-height: 2.7rem;
  }
}

/* line 58, src/scss/3_components/form/buttons.scss */
.btn-action {
  background-color: #048a05;
  border-color: #048a05;
}

/* line 21, src/scss/3_components/form/button/_button-defs.scss */
.btn-action:hover {
  background-color: #037104;
  border-color: #037104;
}

/* line 26, src/scss/3_components/form/button/_button-defs.scss */
.btn-action:active {
  background-color: #037104;
  border-color: #037104;
}

/*# sourceMappingURL=buttons.css.map */