/*
 * @file
 * Provides the generic styling for all types of form components.
 */
/* Vertical rhythm presets =========================================== */
/* Set the base images folder */
/* Layout ============================================================ */
/* Breakpoints ======================================================== */
/*
 * @file
 * Provides some base definitions that are common among button type elements.
 */
/* line 45, src/scss/3_components/form/button/_button-defs.scss */
input[type='submit'],
input[type='button'],
.webform-submit {
  border: 1px solid;
  min-width: 100px;
  padding: 1rem;
  text-align: center;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position-y: center;
}

@media (min-width: 600px) {
  /* line 45, src/scss/3_components/form/button/_button-defs.scss */
  input[type='submit'],
  input[type='button'],
  .webform-submit {
    min-width: 120px;
    padding: 1.2rem 2.4rem;
  }
}

/* line 59, src/scss/3_components/form/button/_button-defs.scss */
input:link[type='submit'],
input:link[type='button'],
.webform-submit:link, input:visited[type='submit'],
input:visited[type='button'],
.webform-submit:visited {
  color: #fff;
}

/* line 64, src/scss/3_components/form/button/_button-defs.scss */
input:focus[type='submit'],
input:focus[type='button'],
.webform-submit:focus {
  outline: 3px solid #333;
}

/* line 8, src/scss/3_components/form/form.scss */
main form {
  margin: 0;
  padding: 0;
  max-width: 800px;
}

/* line 14, src/scss/3_components/form/form.scss */
.form-actions {
  margin: 2.5em 0;
}

/* line 18, src/scss/3_components/form/form.scss */
.form-item {
  position: relative;
}

/* line 22, src/scss/3_components/form/form.scss */
form > .form-item,
.form-wrapper > .form-item {
  padding: 0;
  margin: 2em 0;
}

/* line 28, src/scss/3_components/form/form.scss */
.description {
  margin-top: 0.6rem;
  margin-bottom: 1.0rem;
  font-size: 1.3rem;
  line-height: 1.60002rem;
}

@media (min-width: 600px) {
  /* line 28, src/scss/3_components/form/form.scss */
  .description {
    font-size: 1.5rem;
    line-height: 1.8rem;
  }
}

/* line 36, src/scss/3_components/form/form.scss */
fieldset,
.fieldset {
  border: 0;
  padding: 0;
}

/* line 41, src/scss/3_components/form/form.scss */
fieldset:first-child,
.fieldset:first-child {
  margin-top: 0;
}

/* line 45, src/scss/3_components/form/form.scss */
fieldset:focus,
.fieldset:focus {
  outline-color: #0a78cd;
  border: 0;
}

/* line 50, src/scss/3_components/form/form.scss */
fieldset + div.form-item,
.fieldset + div.form-item {
  margin-top: -.5em !important;
}

/* line 54, src/scss/3_components/form/form.scss */
fieldset > .form-item,
fieldset > .fieldset-wrapper > .form-item,
fieldset fieldset,
.fieldset > .form-item,
.fieldset > .fieldset-wrapper > .form-item,
.fieldset fieldset {
  margin: 1em 0;
}

/* line 59, src/scss/3_components/form/form.scss */
fieldset > .form-item:last-child,
fieldset > .fieldset-wrapper > .form-item:last-child,
fieldset fieldset:last-child,
.fieldset > .form-item:last-child,
.fieldset > .fieldset-wrapper > .form-item:last-child,
.fieldset fieldset:last-child {
  margin: 1em 0 0;
}

/* line 63, src/scss/3_components/form/form.scss */
fieldset > .form-item:first-child, fieldset > .form-item:first-of-type,
fieldset > .fieldset-wrapper > .form-item:first-child,
fieldset > .fieldset-wrapper > .form-item:first-of-type,
fieldset fieldset:first-child,
fieldset fieldset:first-of-type,
.fieldset > .form-item:first-child,
.fieldset > .form-item:first-of-type,
.fieldset > .fieldset-wrapper > .form-item:first-child,
.fieldset > .fieldset-wrapper > .form-item:first-of-type,
.fieldset fieldset:first-child,
.fieldset fieldset:first-of-type {
  margin: 0 0 1em;
}

/* line 70, src/scss/3_components/form/form.scss */
legend,
fieldset h2,
.fieldset h2 {
  font-size: 2.1rem;
  line-height: 2.4rem;
  margin: 0 0 1.2rem;
  color: #076cba;
  font-weight: normal;
}

@media screen and (min-width: 768px) {
  /* line 70, src/scss/3_components/form/form.scss */
  legend,
  fieldset h2,
  .fieldset h2 {
    font-size: 2.4rem;
    line-height: 2.7rem;
    margin: 0 0 1.8rem;
  }
}

/* line 78, src/scss/3_components/form/form.scss */
label,
.label {
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: #333;
}

@media screen and (min-width: 768px) {
  /* line 78, src/scss/3_components/form/form.scss */
  label,
  .label {
    font-size: 1.8rem;
  }
}

/* line 86, src/scss/3_components/form/form.scss */
label + .form-radios,
.label + .form-radios {
  margin-top: .3rem;
}

@media (min-width: 600px) {
  /* line 86, src/scss/3_components/form/form.scss */
  label + .form-radios,
  .label + .form-radios {
    margin-top: .6rem;
  }
}

/* line 95, src/scss/3_components/form/form.scss */
label.visually-hidden + .form-radios,
.label.visually-hidden + .form-radios {
  margin-top: -.4rem;
}

@media (min-width: 600px) {
  /* line 95, src/scss/3_components/form/form.scss */
  label.visually-hidden + .form-radios,
  .label.visually-hidden + .form-radios {
    margin-top: -.6rem;
  }
}

/* line 102, src/scss/3_components/form/form.scss */
label.visually-hidden + input,
.label.visually-hidden + input {
  margin-top: -1.5em;
}

/* line 109, src/scss/3_components/form/form.scss */
[type='text'],
[type='search'],
[type='tel'],
[type='url'],
[type='email'],
[type='password'],
[type='date'],
[type='time'],
[type='number'] {
  max-width: 29rem;
}

@media (min-width: 600px) {
  /* line 109, src/scss/3_components/form/form.scss */
  [type='text'],
  [type='search'],
  [type='tel'],
  [type='url'],
  [type='email'],
  [type='password'],
  [type='date'],
  [type='time'],
  [type='number'] {
    max-width: 45rem;
  }
}

@media (min-width: 768px) {
  /* line 109, src/scss/3_components/form/form.scss */
  [type='text'],
  [type='search'],
  [type='tel'],
  [type='url'],
  [type='email'],
  [type='password'],
  [type='date'],
  [type='time'],
  [type='number'] {
    max-width: 56rem;
  }
}

/* line 127, src/scss/3_components/form/form.scss */
select,
[type='text'],
[type='search'],
[type='tel'],
[type='url'],
[type='email'],
[type='password'],
[type='date'],
[type='time'],
[type='number'],
textarea {
  box-sizing: border-box;
  border: 1px solid #333;
  border-radius: 0;
  color: #333;
  margin: .5em 0;
  padding: .6rem;
  min-height: 4.5rem;
  /* Highlight the form elements that caused a form submission error. */
}

/* line 146, src/scss/3_components/form/form.scss */
select:hover,
[type='text']:hover,
[type='search']:hover,
[type='tel']:hover,
[type='url']:hover,
[type='email']:hover,
[type='password']:hover,
[type='date']:hover,
[type='time']:hover,
[type='number']:hover,
textarea:hover {
  border-color: #0a78cd;
}

/* line 150, src/scss/3_components/form/form.scss */
select:focus,
[type='text']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='url']:focus,
[type='email']:focus,
[type='password']:focus,
[type='date']:focus,
[type='time']:focus,
[type='number']:focus,
textarea:focus {
  box-shadow: none;
  color: #333;
  outline: 3px solid #0a78cd;
}

/* line 157, src/scss/3_components/form/form.scss */
select.error, select.error:focus,
[type='text'].error,
[type='text'].error:focus,
[type='search'].error,
[type='search'].error:focus,
[type='tel'].error,
[type='tel'].error:focus,
[type='url'].error,
[type='url'].error:focus,
[type='email'].error,
[type='email'].error:focus,
[type='password'].error,
[type='password'].error:focus,
[type='date'].error,
[type='date'].error:focus,
[type='time'].error,
[type='time'].error:focus,
[type='number'].error,
[type='number'].error:focus,
textarea.error,
textarea.error:focus {
  border: 1px solid #b63a1b;
  outline-color: #b63a1b;
  background-color: #ffdae0;
  box-shadow: none;
  color: #333;
}

/* line 168, src/scss/3_components/form/form.scss */
.form-select {
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: normal;
  color: #333;
  line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
  box-sizing: border-box;
  margin: .5em 0;
  border: 1px solid #4d4d4d;
  border-radius: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23666666%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"), -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e5e5e5));
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23666666%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"), linear-gradient(to bottom, #fff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}

@media (min-width: 600px) {
  /* line 168, src/scss/3_components/form/form.scss */
  .form-select {
    font-size: 18px;
    line-height: 1.5;
    height: 2.5em;
    padding: .5em 1.3334em .5em .6667em;
  }
}

/* line 197, src/scss/3_components/form/form.scss */
.form-select::-ms-expand {
  display: none;
}

/* line 201, src/scss/3_components/form/form.scss */
.form-select option {
  font-weight: normal;
}

/* line 205, src/scss/3_components/form/form.scss */
textarea,
.form-textarea {
  width: 100%;
  line-height: 1.5;
}

/* line 211, src/scss/3_components/form/form.scss */
.form-type-radio {
  position: relative;
}

/* line 215, src/scss/3_components/form/form.scss */
input[type='checkbox'] {
  border-radius: 0;
}

/* line 219, src/scss/3_components/form/form.scss */
input[type='radio'],
.form-radio,
input[type='checkbox'],
.form-checkbox {
  font-size: 1.6rem;
  line-height: 2.4rem;
  position: absolute;
  top: 2.1rem;
  z-index: 1;
  left: 1.2rem;
  clear: both;
  margin: 0;
  padding: 0;
  max-width: 2rem;
  max-height: 2rem;
  line-height: 2.4rem;
  vertical-align: baseline;
  box-shadow: none;
  border: 0;
  outline: none;
  color: inherit;
}

@media (min-width: 600px) {
  /* line 219, src/scss/3_components/form/form.scss */
  input[type='radio'],
  .form-radio,
  input[type='checkbox'],
  .form-checkbox {
    font-size: 1.8rem;
    line-height: 2.4rem;
    top: 2.3rem;
  }
}

/* line 249, src/scss/3_components/form/form.scss */
input[type='radio'] ~ label,
.form-radio ~ label,
input[type='checkbox'] ~ label,
.form-checkbox ~ label {
  font-size: 1.6rem;
  line-height: 2.4rem;
  position: relative;
  left: 0;
  margin: .5em 0 0;
  padding: .55em 1.5rem .45em 3.6rem;
  display: inline-block;
  vertical-align: baseline;
  min-width: 7.5rem;
  min-height: 4.4rem;
  border: 1px solid #949494;
}

@media (min-width: 600px) {
  /* line 249, src/scss/3_components/form/form.scss */
  input[type='radio'] ~ label,
  .form-radio ~ label,
  input[type='checkbox'] ~ label,
  .form-checkbox ~ label {
    font-size: 1.8rem;
    line-height: 2.4rem;
    min-height: 4.5rem;
  }
}

/* line 267, src/scss/3_components/form/form.scss */
input[type='radio'].error ~ label,
.form-radio.error ~ label,
input[type='checkbox'].error ~ label,
.form-checkbox.error ~ label {
  border-color: #b63a1b;
  outline-color: #b63a1b !important;
  background-color: #ffdae0;
  box-shadow: none;
  color: #333;
}

/* line 275, src/scss/3_components/form/form.scss */
input[type='radio']:hover:not(.error) ~ label,
.form-radio:hover:not(.error) ~ label,
input[type='checkbox']:hover:not(.error) ~ label,
.form-checkbox:hover:not(.error) ~ label {
  border-color: #5fb5f7;
}

/* line 279, src/scss/3_components/form/form.scss */
input[type='radio']:checked ~ label,
.form-radio:checked ~ label,
input[type='checkbox']:checked ~ label,
.form-checkbox:checked ~ label {
  background-color: #f3f8fc;
}

/* line 283, src/scss/3_components/form/form.scss */
input[type='radio']:focus ~ label,
.form-radio:focus ~ label,
input[type='checkbox']:focus ~ label,
.form-checkbox:focus ~ label {
  outline: 3px solid #0a78cd;
  outline-offset: -2px;
}

/* line 289, src/scss/3_components/form/form.scss */
input[type='radio'],
.form-radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid #333;
  border-radius: 50% !important;
  background-color: #fff;
  width: 1.8rem;
  height: 1.8rem;
}

/* line 298, src/scss/3_components/form/form.scss */
input[type='radio']:checked,
.form-radio:checked {
  background-color: #2daff7;
}

/* line 303, src/scss/3_components/form/form.scss */
input[type='checkbox'],
.form-checkbox {
  border: 2px solid #333;
  border-radius: 0;
  background-color: #fff;
  width: 1.8rem;
  height: 1.8rem;
}

/* line 311, src/scss/3_components/form/form.scss */
input[type='checkbox']:checked,
.form-checkbox:checked {
  background-color: #2daff7;
  border-style: inset;
}

/* line 317, src/scss/3_components/form/form.scss */
input[type='submit'],
input[type='button'],
.webform-submit {
  background-color: #0a78cd;
  border-color: #0a78cd;
  color: #fff;
  font-size: 2.1rem;
  line-height: 2.4rem;
  margin-top: 0;
  font-weight: bold;
}

/* line 21, src/scss/3_components/form/button/_button-defs.scss */
input[type='submit']:hover,
input[type='button']:hover,
.webform-submit:hover {
  background-color: #096ab5;
  border-color: #096ab5;
}

/* line 26, src/scss/3_components/form/button/_button-defs.scss */
input[type='submit']:active,
input[type='button']:active,
.webform-submit:active {
  background-color: #096ab5;
  border-color: #096ab5;
}

@media screen and (min-width: 768px) {
  /* line 317, src/scss/3_components/form/form.scss */
  input[type='submit'],
  input[type='button'],
  .webform-submit {
    font-size: 2.4rem;
    line-height: 3rem;
  }
}

/*# sourceMappingURL=form.css.map */