/*
 * @file
 * Provides the generic styling for layout builder form components.
 */
/* Vertical rhythm presets =========================================== */
/* Set the base images folder */
/* Layout ============================================================ */
/* Breakpoints ======================================================== */
/*
 * @file
 * Provides some base definitions that are common among button type elements.
 */
/* line 8, src/scss/3_components/form/layout-builder-form.scss */
.layout-builder-form,
.layout-builder-update-block,
.layout-builder-configure-block {
  max-width: unset;
}

/* line 14, src/scss/3_components/form/layout-builder-form.scss */
.layout-builder-form .form-actions,
.layout-builder-update-block .form-actions,
.layout-builder-configure-block .form-actions {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  margin: 1.5em 0 0;
  padding: 0;
}

/* line 22, src/scss/3_components/form/layout-builder-form.scss */
.layout-builder-form .field--name-moderation-state,
.layout-builder-update-block .field--name-moderation-state,
.layout-builder-configure-block .field--name-moderation-state {
  padding: 0;
}

/* line 25, src/scss/3_components/form/layout-builder-form.scss */
.layout-builder-form .field--name-moderation-state *,
.layout-builder-update-block .field--name-moderation-state *,
.layout-builder-configure-block .field--name-moderation-state * {
  font-size: 16px;
}

/* line 30, src/scss/3_components/form/layout-builder-form.scss */
.layout-builder-form .field--name-moderation-state label::after,
.layout-builder-update-block .field--name-moderation-state label::after,
.layout-builder-configure-block .field--name-moderation-state label::after {
  content: ":";
}

/* line 35, src/scss/3_components/form/layout-builder-form.scss */
.layout-builder-form .field--name-moderation-state #edit-moderation-state-0,
.layout-builder-update-block .field--name-moderation-state #edit-moderation-state-0,
.layout-builder-configure-block .field--name-moderation-state #edit-moderation-state-0 {
  display: flex;
  align-items: center;
}

/* line 39, src/scss/3_components/form/layout-builder-form.scss */
.layout-builder-form .field--name-moderation-state #edit-moderation-state-0 .form-item,
.layout-builder-update-block .field--name-moderation-state #edit-moderation-state-0 .form-item,
.layout-builder-configure-block .field--name-moderation-state #edit-moderation-state-0 .form-item {
  margin: 0 1.5em 0 0;
  line-height: 4.5rem;
}

/* line 44, src/scss/3_components/form/layout-builder-form.scss */
.layout-builder-form .field--name-moderation-state #edit-moderation-state-0 label,
.layout-builder-update-block .field--name-moderation-state #edit-moderation-state-0 label,
.layout-builder-configure-block .field--name-moderation-state #edit-moderation-state-0 label {
  margin-right: .5em;
  font-weight: bold;
}

/* line 49, src/scss/3_components/form/layout-builder-form.scss */
.layout-builder-form .field--name-moderation-state #edit-moderation-state-0 select,
.layout-builder-update-block .field--name-moderation-state #edit-moderation-state-0 select,
.layout-builder-configure-block .field--name-moderation-state #edit-moderation-state-0 select {
  margin: 0;
  display: unset;
  height: 2em;
  min-height: unset;
  padding: 4px 30px 4px 10px;
}

/* line 59, src/scss/3_components/form/layout-builder-form.scss */
.layout-builder-form > .form-item, .layout-builder-form .form-wrapper > .form-item,
.layout-builder-update-block > .form-item,
.layout-builder-update-block .form-wrapper > .form-item,
.layout-builder-configure-block > .form-item,
.layout-builder-configure-block .form-wrapper > .form-item {
  padding: 0;
  margin: .5em 0;
}

/* line 64, src/scss/3_components/form/layout-builder-form.scss */
.layout-builder-form input[type='submit'],
.layout-builder-form input[type='button'],
.layout-builder-update-block input[type='submit'],
.layout-builder-update-block input[type='button'],
.layout-builder-configure-block input[type='submit'],
.layout-builder-configure-block input[type='button'] {
  font-size: 1.4rem;
  line-height: 2.4rem;
  height: 44px;
  padding: .1rem .5em;
  margin: .5em .5em .5em 0;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  /* line 64, src/scss/3_components/form/layout-builder-form.scss */
  .layout-builder-form input[type='submit'],
  .layout-builder-form input[type='button'],
  .layout-builder-update-block input[type='submit'],
  .layout-builder-update-block input[type='button'],
  .layout-builder-configure-block input[type='submit'],
  .layout-builder-configure-block input[type='button'] {
    font-size: 1.6rem;
    line-height: 2.7rem;
  }
}

@media (min-width: 600px) {
  /* line 64, src/scss/3_components/form/layout-builder-form.scss */
  .layout-builder-form input[type='submit'],
  .layout-builder-form input[type='button'],
  .layout-builder-update-block input[type='submit'],
  .layout-builder-update-block input[type='button'],
  .layout-builder-configure-block input[type='submit'],
  .layout-builder-configure-block input[type='button'] {
    height: 45px;
  }
}

/* line 71, src/scss/3_components/form/layout-builder-form.scss */
.layout-builder-form input[type='radio'],
.layout-builder-form .form-radio,
.layout-builder-form input[type='checkbox'],
.layout-builder-form .form-checkbox,
.layout-builder-update-block input[type='radio'],
.layout-builder-update-block .form-radio,
.layout-builder-update-block input[type='checkbox'],
.layout-builder-update-block .form-checkbox,
.layout-builder-configure-block input[type='radio'],
.layout-builder-configure-block .form-radio,
.layout-builder-configure-block input[type='checkbox'],
.layout-builder-configure-block .form-checkbox {
  font-size: 1.4rem;
  line-height: 2.4rem;
  top: 1.3rem;
  z-index: 1;
  left: 1.2rem;
  clear: both;
  margin: 0;
  padding: 0;
  max-width: 2rem;
  max-height: 2rem;
  line-height: 2.4rem;
  vertical-align: baseline;
  box-shadow: none;
  border: 0;
  outline: none;
  color: inherit;
}

@media (min-width: 600px) {
  /* line 71, src/scss/3_components/form/layout-builder-form.scss */
  .layout-builder-form input[type='radio'],
  .layout-builder-form .form-radio,
  .layout-builder-form input[type='checkbox'],
  .layout-builder-form .form-checkbox,
  .layout-builder-update-block input[type='radio'],
  .layout-builder-update-block .form-radio,
  .layout-builder-update-block input[type='checkbox'],
  .layout-builder-update-block .form-checkbox,
  .layout-builder-configure-block input[type='radio'],
  .layout-builder-configure-block .form-radio,
  .layout-builder-configure-block input[type='checkbox'],
  .layout-builder-configure-block .form-checkbox {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}

/* line 98, src/scss/3_components/form/layout-builder-form.scss */
.layout-builder-form input[type='radio'] ~ label,
.layout-builder-form .form-radio ~ label,
.layout-builder-form input[type='checkbox'] ~ label,
.layout-builder-form .form-checkbox ~ label,
.layout-builder-update-block input[type='radio'] ~ label,
.layout-builder-update-block .form-radio ~ label,
.layout-builder-update-block input[type='checkbox'] ~ label,
.layout-builder-update-block .form-checkbox ~ label,
.layout-builder-configure-block input[type='radio'] ~ label,
.layout-builder-configure-block .form-radio ~ label,
.layout-builder-configure-block input[type='checkbox'] ~ label,
.layout-builder-configure-block .form-checkbox ~ label {
  font-size: 1.4rem;
  line-height: 2.4rem;
  position: relative;
  left: 0;
  margin: 0;
  padding: .55em 1.5rem .45em 3.6rem;
  display: inline-block;
  vertical-align: baseline;
  min-width: 7.5rem;
  min-height: 4.4rem;
  border: 1px solid #949494;
}

@media (min-width: 600px) {
  /* line 98, src/scss/3_components/form/layout-builder-form.scss */
  .layout-builder-form input[type='radio'] ~ label,
  .layout-builder-form .form-radio ~ label,
  .layout-builder-form input[type='checkbox'] ~ label,
  .layout-builder-form .form-checkbox ~ label,
  .layout-builder-update-block input[type='radio'] ~ label,
  .layout-builder-update-block .form-radio ~ label,
  .layout-builder-update-block input[type='checkbox'] ~ label,
  .layout-builder-update-block .form-checkbox ~ label,
  .layout-builder-configure-block input[type='radio'] ~ label,
  .layout-builder-configure-block .form-radio ~ label,
  .layout-builder-configure-block input[type='checkbox'] ~ label,
  .layout-builder-configure-block .form-checkbox ~ label {
    font-size: 1.6rem;
    line-height: 2.4rem;
    min-height: 4.5rem;
  }
}

/* line 117, src/scss/3_components/form/layout-builder-form.scss */
.layout-builder-form input[type='radio'],
.layout-builder-form .form-radio,
.layout-builder-update-block input[type='radio'],
.layout-builder-update-block .form-radio,
.layout-builder-configure-block input[type='radio'],
.layout-builder-configure-block .form-radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid #333;
  border-radius: 50% !important;
  background-color: #fff;
  width: 1.8rem;
  height: 1.8rem;
}

/* line 126, src/scss/3_components/form/layout-builder-form.scss */
.layout-builder-form input[type='radio']:checked,
.layout-builder-form .form-radio:checked,
.layout-builder-update-block input[type='radio']:checked,
.layout-builder-update-block .form-radio:checked,
.layout-builder-configure-block input[type='radio']:checked,
.layout-builder-configure-block .form-radio:checked {
  background-color: #2daff7;
}

/* line 131, src/scss/3_components/form/layout-builder-form.scss */
.layout-builder-form input[type='checkbox'],
.layout-builder-form .form-checkbox,
.layout-builder-update-block input[type='checkbox'],
.layout-builder-update-block .form-checkbox,
.layout-builder-configure-block input[type='checkbox'],
.layout-builder-configure-block .form-checkbox {
  border: 2px solid #333;
  border-radius: 0;
  background-color: #fff;
  width: 1.8rem;
  height: 1.8rem;
}

/* line 139, src/scss/3_components/form/layout-builder-form.scss */
.layout-builder-form input[type='checkbox']:checked,
.layout-builder-form .form-checkbox:checked,
.layout-builder-update-block input[type='checkbox']:checked,
.layout-builder-update-block .form-checkbox:checked,
.layout-builder-configure-block input[type='checkbox']:checked,
.layout-builder-configure-block .form-checkbox:checked {
  background-color: #2daff7;
  border-style: inset;
}

/* line 147, src/scss/3_components/form/layout-builder-form.scss */
.layout-builder-form .layout-builder__message .container,
.layout-builder-update-block .layout-builder__message .container,
.layout-builder-configure-block .layout-builder__message .container {
  padding: 0;
}

/* line 151, src/scss/3_components/form/layout-builder-form.scss */
.layout-builder-form .layout-builder__message .messages,
.layout-builder-update-block .layout-builder__message .messages,
.layout-builder-configure-block .layout-builder__message .messages {
  margin: .5em 0;
}

/*# sourceMappingURL=layout-builder-form.css.map */