/*
 * @file
 * Provides styling for webform specific components.
 */
/* Vertical rhythm presets =========================================== */
/* Set the base images folder */
/* Layout ============================================================ */
/* Breakpoints ======================================================== */
/*
 * @file
 * Provides some base definitions that are common among button type elements.
 */
/* line 10, src/scss/3_components/form/webform.scss */
.webform-submission-form .form-textarea-wrapper {
  line-height: 0;
}

/* line 14, src/scss/3_components/form/webform.scss */
.webform-submission-form textarea.webform-counter {
  margin-bottom: 0;
}

/* line 18, src/scss/3_components/form/webform.scss */
.webform-submission-form .text-count-wrapper {
  font-size: 1.6rem;
  line-height: 1.5;
  color: #fff;
  background-color: #333;
  padding: .3334em .6rem;
  margin: 0;
}

@media screen and (min-width: 768px) {
  /* line 18, src/scss/3_components/form/webform.scss */
  .webform-submission-form .text-count-wrapper {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 1382px) {
  /* line 18, src/scss/3_components/form/webform.scss */
  .webform-submission-form .text-count-wrapper {
    font-size: 2rem;
  }
}

/* line 25, src/scss/3_components/form/webform.scss */
.webform-submission-form .text-count-wrapper.webform-counter-warning .text-count {
  color: #fb7c17;
  font-weight: bold;
}

/* Error Tool Tip Styles*/
/* line 33, src/scss/3_components/form/webform.scss */
.form-item--error-message {
  position: absolute;
  top: 100%;
  left: -1px;
  margin-top: -1px;
  z-index: 101;
}

/* line 40, src/scss/3_components/form/webform.scss */
.webform-counter + .form-item--error-message {
  margin-top: calc(.5em - 1px);
}

/* line 44, src/scss/3_components/form/webform.scss */
.form-item--error-message > * {
  opacity: 0;
  -webkit-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in;
}

/* line 49, src/scss/3_components/form/webform.scss */
.form-item--error-message .error {
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: bold;
  display: block;
  position: relative;
  padding: .9rem;
  color: #fff;
  background-color: #d1431f;
  border: 1px solid #d1431f;
  border-radius: 3px;
  box-shadow: 6px 6px 9px 0 rgba(0, 0, 0, 0.3);
  opacity: 1;
}

@media screen and (min-width: 768px) {
  /* line 49, src/scss/3_components/form/webform.scss */
  .form-item--error-message .error {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 1382px) {
  /* line 49, src/scss/3_components/form/webform.scss */
  .form-item--error-message .error {
    font-size: 2rem;
  }
}

/* line 62, src/scss/3_components/form/webform.scss */
input[type=radio] + .form-item--error-message .error,
input[type=checkbox] + .form-item--error-message .error {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 300px;
}

/* line 68, src/scss/3_components/form/webform.scss */
.form-item--error-message .error:after, .form-item--error-message .error:before {
  content: '';
  border: .9rem solid transparent;
  position: absolute;
  left: .9rem;
}

/* line 76, src/scss/3_components/form/webform.scss */
.form-item--error-message .error:after {
  border-bottom: 0.9rem solid #d1431f;
  top: -1.8rem;
}

/* webform radios and checkboxes displayed inline are wrapped with this class */
/* line 86, src/scss/3_components/form/webform.scss */
.webform-options-display-side-by-side label {
  margin: 0;
}

/*# sourceMappingURL=webform.css.map */