<div class="container grid {{modifier_class}}">
  <div class="kss-layout-block ga-main">The <code>.ga-main</code> grid item.</div>
  <div class="kss-layout-block ga-aside">The <code>.ga-aside</code> grid item.</div>
</div>
