/*
 * @file
 * Provides the styling for creating an accordion component.
 */

@import '../../init';

// Accordion component
//
// An accordion is a vertically stacked set of headings and collapsed sections. The headings function as controls that
// enable users to reveal or hide the associated sections of content. Accordions are commonly used to reduce the need
// to scroll when presenting multiple sections of content on a single page.
//
// Style guide: components.layouts.accordions

.accordion {

  margin: 1em 0 1.5em;

  @include breakpoint($lap, $no-query: true) {
    padding: 0;
  }

  .accordion-section-title {
    @include adjust-font-size-to(20px, 4);
    position: relative;
    padding: 1.6rem;
    margin: 0;

    @include breakpoint($tab, $no-query: true) {
      @include adjust-font-size-to(24px, 4.5);
    }

    .js & {
      padding: 0;
    }

    button {
      position: relative;
      border: 0;
      background: none;
      -webkit-appearance: none;
      display: block;
      width: 100%;
      padding: 0;
      margin: 0;
      font-size: inherit;
      line-height: inherit;
      text-align: left;

      .js & {
        padding: 1.6rem 6rem 1.6rem .8rem;

        @include breakpoint($tab, $no-query: true) {
          padding: 1.8rem 6rem 1.8rem 1.8rem;
        }
      }

      &::after {
        // Down arrow icon for the button.
        content: '';
        display: inline-block;
        position: absolute;
        right: .2rem;
        top: calc(50% - 2.2rem); // 50% minus half the height of the icon (which should be 44px).
        background: $grey-lightest url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2025%2015%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%20.st0%7Bfill%3A%23333333%3Bfill-rule%3Aevenodd%3Bclip-rule%3Aevenodd%3B%7D%20%3C%2Fstyle%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M12.5%200L0%2012l3%203%209.5-10L22%2015l3-3L12.5%200z%22%2F%3E%3C%2Fsvg%3E%0A') no-repeat scroll center center/24px auto;
        border: 1px solid $grey;
        font-size: .1px;
        line-height: 4.4rem;
        width: 4.4rem;
        height: 4.4rem;
        padding: 0;
        margin: 0;
        transform: rotate(180deg);
        transition: background-color .5s;
      }

      &:focus {
        outline: 0;

        &::after {
          outline: 3px solid $charcoal;
          outline-offset: -3px;
          border-color: $charcoal;
        }
      }

      &[aria-expanded='true']::after {
        transform: rotate(0deg);
        background-color: $brand-primary-light;
        border-color: $brand-primary-medium;
      }

      &:hover::after {
        background: $brand-primary-medium url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2025%2015%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%20.st0%7Bfill%3A%23ffffff%3Bfill-rule%3Aevenodd%3Bclip-rule%3Aevenodd%3B%7D%20%3C%2Fstyle%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M12.5%200L0%2012l3%203%209.5-10L22%2015l3-3L12.5%200z%22%2F%3E%3C%2Fsvg%3E%0A') no-repeat scroll center center/24px auto;
        outline-color: $brand-primary-medium;
        border-color: $brand-primary-medium;
      }
    }

    a {
      display: inline-block;
      max-width: calc(100% - 6rem);
      text-decoration: underline;
      padding: .3rem 0 .7rem;

      &:focus {
        border: 0;
      }

      & + button {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0;
        width: 4.4rem;
        height: 100%;
      }
    }
  }

  .accordion-section {

    .no-js & {

      @include breakpoint($tab, $no-query: true) {
        margin: 0 0 1em;
      }

      margin: 0 0 1em;
      padding: 0;
    }

    .js & {
      visibility: collapse;
      height: 0;
      opacity: 0;
      overflow: hidden;
      transition: opacity 1.5s ease-out;
      margin: 0;
      padding: 0;

      &.expanded {
        visibility: visible;
        height: auto;
        overflow: visible;
        opacity: 1;
        margin: .5em 0;
      }
    }

    > * {
      margin-top: 0;
    }

    // Ensure floated content inside the accordion section is cleared.
    &::after {
      content: ' ';
      display: block;
      width: 100%;
      clear: both;
    }
  }

}
