/*
 * @file
 * Provides the styling for list components.
 */
@import '../../init';

.list {
  &--no-bullet {
    list-style: none;
    padding: 0;
  }

  &--inline li {
    display: inline-block;
    padding-right: .334em;
    white-space: nowrap;
  }

  &--checklist {
    li {
      color: #666;
      background: transparent resolve('status.svg') no-repeat right / 16px 16px;
      margin-bottom: 0;
      margin-right: 4px;
      padding-right: 18px;

      @include breakpoint($mob, $no-query: true) {
        background-size: 18px 18px;
        margin-right: 7px;
        padding-right: 22px;
      }

      @include breakpoint($phab, $no-query: true) {
        background-size: 21px 21px;
        margin-right: 9px;
        padding-right: 25px;
      }
    }
  }
}

.split-list {
  columns: 2;
  column-gap: 3.6rem;
}
