/*
 * @file
 * Provides the styling for inline responsive images.
 */
@import '../../init';
@import 'responsive-images';

// In ckeditor, responsive images are wrapped in drupal-media.
drupal-media {
  img {
    width: 100% !important;
    float: none !important;
    margin: 0 !important;
  }
}

// Floated styles
drupal-media[data-view-mode^='landscape_float'],
drupal-media[data-view-mode^='portrait_float'] {

  @include media-image-float;

}

// Non-floated styles
drupal-media[data-view-mode^='landscape_full'],
drupal-media[data-view-mode^='portrait_full'] {
  float: none;
  width: 100%;
  max-width: none;
  margin: 1em 0 1.5em;
}
