/*
 * @file
 * Provides the styling for creating an accordion component.
 */
/* Vertical rhythm presets =========================================== */
/* Set the base images folder */
/* Layout ============================================================ */
/* Breakpoints ======================================================== */
/* line 16, src/scss/3_components/layout/accordions.scss */
.accordion {
  border-bottom: 1px solid #949494;
  margin: 1em 0 1.5em;
}

@media (min-width: 980px) {
  /* line 16, src/scss/3_components/layout/accordions.scss */
  .accordion {
    padding: 0;
  }
}

/* line 25, src/scss/3_components/layout/accordions.scss */
.accordion .accordion-section-title {
  font-size: 2rem;
  line-height: 2.4rem;
  padding: 1.6rem;
  margin: 0;
  border-top: 1px solid #949494;
  /*
    &:first-child {
      margin-top: 0;
      border-top: 0;
    }
    */
}

@media (min-width: 768px) {
  /* line 25, src/scss/3_components/layout/accordions.scss */
  .accordion .accordion-section-title {
    font-size: 2.4rem;
    line-height: 2.7rem;
    padding: 1.8rem;
  }
}

/* line 36, src/scss/3_components/layout/accordions.scss */
.js .accordion .accordion-section-title {
  padding: 0;
}

/* line 47, src/scss/3_components/layout/accordions.scss */
.accordion .accordion-section-title a {
  color: #0b1951;
  text-decoration: none;
}

/* line 51, src/scss/3_components/layout/accordions.scss */
.accordion .accordion-section-title a:hover {
  text-decoration: none;
}

/* line 56, src/scss/3_components/layout/accordions.scss */
.accordion .accordion-section-title button {
  position: relative;
  border: 0;
  background: none;
  -webkit-appearance: none;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: inherit;
  line-height: inherit;
  text-align: left;
}

/* line 69, src/scss/3_components/layout/accordions.scss */
.accordion .accordion-section-title button::after {
  content: '';
  display: inline-block;
  position: absolute;
  right: .6rem;
  top: .6rem;
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2025%2015%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%20.st0%7Bfill%3A%230e6bb3%3Bfill-rule%3Aevenodd%3Bclip-rule%3Aevenodd%3B%7D%20%3C%2Fstyle%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M12.5%200L0%2012l3%203%209.5-10L22%2015l3-3L12.5%200z%22%2F%3E%3C%2Fsvg%3E%0A") no-repeat scroll center center/44% auto;
  border: 0;
  font-size: .1px;
  line-height: 4.4rem;
  width: 4.4rem;
  height: 4.4rem;
  padding: 0;
  margin: 0;
  transform: rotate(180deg);
}

@media (min-width: 768px) {
  /* line 69, src/scss/3_components/layout/accordions.scss */
  .accordion .accordion-section-title button::after {
    right: .8rem;
    top: 1rem;
  }
}

/* line 91, src/scss/3_components/layout/accordions.scss */
.accordion .accordion-section-title button:hover::after {
  background-color: #333;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2025%2015%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%20.st0%7Bfill%3A%23ffffff%3Bfill-rule%3Aevenodd%3Bclip-rule%3Aevenodd%3B%7D%20%3C%2Fstyle%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M12.5%200L0%2012l3%203%209.5-10L22%2015l3-3L12.5%200z%22%2F%3E%3C%2Fsvg%3E%0A");
}

/* line 96, src/scss/3_components/layout/accordions.scss */
.accordion .accordion-section-title button:focus {
  outline: 0;
}

/* line 99, src/scss/3_components/layout/accordions.scss */
.accordion .accordion-section-title button:focus::after {
  outline: 1px dotted;
}

/* line 104, src/scss/3_components/layout/accordions.scss */
.accordion .accordion-section-title button[aria-expanded='true']::after {
  transform: rotate(0deg);
}

/* line 108, src/scss/3_components/layout/accordions.scss */
.js .accordion .accordion-section-title button {
  padding: 1.6rem 6rem 1.6rem .8rem;
}

@media (min-width: 768px) {
  /* line 108, src/scss/3_components/layout/accordions.scss */
  .js .accordion .accordion-section-title button {
    padding: 1.8rem 6rem 1.8rem 1.2rem;
  }
}

/* line 118, src/scss/3_components/layout/accordions.scss */
.accordion .accordion-section {
  margin: 0 1.6rem 1em;
  padding: 0;
}

@media (min-width: 768px) {
  /* line 118, src/scss/3_components/layout/accordions.scss */
  .accordion .accordion-section {
    margin: 0 1.8rem 1em;
  }
}

/* line 126, src/scss/3_components/layout/accordions.scss */
.js .accordion .accordion-section {
  visibility: collapse;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity 1.5s ease-out;
  margin: 0;
  padding: 0;
}

/* line 135, src/scss/3_components/layout/accordions.scss */
.js .accordion .accordion-section.expanded {
  visibility: visible;
  height: auto;
  overflow: visible;
  opacity: 1;
  margin: 0 .8rem 1em;
}

@media (min-width: 768px) {
  /* line 135, src/scss/3_components/layout/accordions.scss */
  .js .accordion .accordion-section.expanded {
    margin: 0 1.2rem 1em;
  }
}

/* line 148, src/scss/3_components/layout/accordions.scss */
.accordion .accordion-section > :first-child {
  margin-top: 0;
}

/*# sourceMappingURL=accordions.css.map */