/*
 * @file
 * Provides the styling for button components.
 */
@import '../../init';
@import 'button/button-defs';

// Buttons
//
// The site incorporates a number of different types of 'buttons', which might take a more formal style such in a form
// or may be a simple link on a page which is designed to encourage greater user interaction. This section of the guide
// looks at how buttons might be incorporated into content.
//
// Style guide: components.buttons

// Buttons - call to action
//
// The 'call to action' button is a fairly simple button designed to invite a user to take action or launch an action.
// It inherits the basic styling common to all types of button and builds upon this make the button fuller using font
// sizing and padding. It also makes use of colour to suggest a 'go' type action.
//
// Style guide: components.buttons.call-to-action
.call-to-action {
  @include btn;
  @include btn--large;
  @include btn-color($btn-action);
  position: relative;
  padding-right: 3.9rem;

  @at-root a#{&} {
    text-align: left;
    color: color(white);
  }

  .ico-arrow-right {
    height: 2.5rem;
    margin-right: 1.2rem;
    position: absolute;
    right: 0;
    top: calc(50% - 1.25rem);
    width: 1.5rem;
  }
}

button.link {
    background: transparent;
    border: 0;
    color: $link;
    text-decoration: underline !important;
}

.btn,
.button {
  @include btn;
  @include btn-color($btn, $btn, $white, 'dark'); // bg-color, border-color, txt-color, scheme.

  &--small {
    @include btn--small;
  }

  &--medium {
    @include btn--medium;
  }

  &--large {
    @include btn--large;
  }

  &--block {
    @include btn--block;
  }

  &--primary {
    @include btn-color($btn-primary);
  }

  &--secondary {
    @include btn-color($btn-secondary);
  }

  &--action {
    @include btn-color($btn-action);
  }

  &--danger {
    @include btn-color($btn-danger);
  }

  &--warning {
    @include btn-color($btn-warning);
  }

  .dropbutton-widget & {
    color: $charcoal;
  }

  // Deprecated call-to-action style - use "btn btn--large btn--action btn-right" instead.
  &.call-to-action {
    @include btn--large;
    @include btn--right;
    padding-right: 3.9rem;
    @include btn-color($btn-action);
  }
}
