/*
 * @file
 * Provides the generic styling for all types of form components.
 */
@import '../../init';
@import 'button/button-defs';
@import 'error-messages/error-messages';

main form {
  margin: 0;
  padding: 0;
  max-width: 800px;
}

.form-actions {

  position: relative;
  margin: 2.5em 0;

  .button {
    vertical-align: bottom;
  }

  .ajax-spinner {
    position: absolute;
    line-height: 54px;
    margin-left: 2px;

    .ajax-spinner__label {
      @include visually-hidden;
    }
  }
}

.form-item {
  position: relative;

  .container-inline {
    margin: 0;
  }

  &--error-message {
    @extend %error-bubble;

    @at-root .container-inline & {
      @extend %error-bubble--floating-below;
    }
  }
}

form > .form-item,
.form-wrapper > .form-item {
  padding: 0;
  margin: 2em 0;

  &.form-type-processed-text {
    margin: 0;
  }
}

.description {
  @include responsive-typo-map($small-text);
  margin: .6rem 0 .9rem;

  .fieldset-wrapper .field-prefix &,
  .fieldset-wrapper .field-suffix & {
    @include responsive-typo-map($body-text);
  }

  .fieldset-wrapper .field-prefix & {
    margin: 0 0 1em;
  }

  .fieldset-wrapper .field-suffix & {
    margin: 1em 0 0;
  }
}

// Fieldsets and sections act as containers for groups of related form controls.
//
// Using a fieldset is the preferred way to group form controls where the legend of the fieldset helps to uniquely
// identify each control in the group.
//
// In some cases, it may be better to use a section instead of a fieldset in these situations:
// # The grouping is primarily visual and the controls in the group have labels that adequately differentiate them from
// other similar controls in the form as a whole.
// # The group of controls includes nested fieldsets of radios/checkboxes. Nested fieldsets
// should be avoided because they can confuse screen readers and screen reader users.
//
// Style fieldsets and legends, and sections and H2s in same manner.

fieldset,
.fieldset,
form > section,
form > .form-wrapper > section {
  border: 0;
  padding: 0;

  &:first-child {
    margin-top: 0;
  }

  &:focus {
    outline-color: $brand-primary-medium;
    border: 0;
  }

  & > .form-item,
  & > .fieldset-wrapper > .form-item,
  fieldset {
    margin: 1em 0 0;
  }

  > legend,
  > .legend,
  > h2 {
    @include responsive-typo-map($form-legend);
    color: $brand-primary-dark;
    font-weight: normal;
  }

  // Nested fieldset/section legends/titles.
  fieldset legend,
  section h2 {
    @include responsive-typo-map($form-legend-plain);
    color: $text;
  }

  .form-type-processed-text > * {

    margin: 1em 0;

    &:first-child {
      margin-top: 0;
    }
  }
}

label,
.label {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 1em;
  line-height: 1.5;
  font-weight: normal;
  color: $charcoal;

  &--small {
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin: 0 0 8px;

    @include breakpoint($tab) {
      line-height: 2.7rem;
      margin: 0 0 9px;
    }
  }

  & + .form-radios {
    margin-top: .3rem;
    @include breakpoint($phab, $no-query: true) {
      margin-top: .6rem;
    }
  }

  &.visually-hidden {

    & + .form-radios {
      margin-top: -.4rem;
      @include breakpoint($phab, $no-query: true) {
        margin-top: -.6rem;
      }
    }

    & + input {
      margin-top: -1.5em;
    }

  }
}

[type='text'],
[type='search'],
[type='tel'],
[type='url'],
[type='email'],
[type='password'],
[type='date'],
[type='time'],
[type='number'],
[type='file'] {
  width: 100%;
  max-width: 56rem; // fallback for older browsers
  max-width: fit-content;

  &::placeholder {
    color: #777;
    opacity: 1;
  }
}

[size='30'],
[size='40'],
[size='50'],
[size='60'] {
  max-width: 56rem;
}

select,
[type='text'],
[type='search'],
[type='tel'],
[type='url'],
[type='email'],
[type='password'],
[type='date'],
[type='time'],
[type='number'],
[type='file'],
textarea {
  box-sizing: border-box;
  border: 1px solid #333;
  border-radius: 0;
  color: $charcoal;
  margin: .5em 0;
  padding: .6rem;
  min-height: 2.5em;

  &:hover {
    border-color: $brand-primary-medium;
  }

  &:focus {
    box-shadow: none;
    color: $charcoal;
    outline: 3px solid $brand-primary-medium;
  }

  /* Highlight the form elements that caused a form submission error. */
  &.error,
  &.error:focus {
    border: 1px solid $error;
    outline-color: $error;
    background-color: $error-bg; // lightpink
    box-shadow: none;
    color: $charcoal;
  }
}

[type='file'] {
  padding: .4rem !important;
  font-size: 1.6rem !important;

  &::-webkit-file-upload-button {
    @include btn(small);
    @include btn-color($btn-primary, #fff);
    margin: 0 !important;
    font-weight: normal;
  }
}

// Based on https://css-tricks.com/styling-a-select-like-its-2019/
.form-select {
  display: block;
  font-size: 1em;
  font-family: sans-serif;
  font-weight: normal;
  color: $charcoal;
  line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
  box-sizing: border-box;
  margin: .5em 0;
  border: 1px solid $grey-dark;
  border-radius: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: #fff;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23666666%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
  linear-gradient(to bottom, #fff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;

  @include breakpoint($phab, $no-query: true) {
    line-height: 1.5;
    height: 2.5em;
    padding: .5em 1.3334em .5em .6667em;
  }
}

.form-select::-ms-expand {
  display: none;
}

.form-select option {
  font-weight: normal;
}

textarea,
.form-textarea {
  width: 100%;
  line-height: 1.5;
}

.form-type-radio,
.form-type-checkbox {
  position: relative;
  width: 100%;
  margin: .5em .5em .5em 0;
  padding: 0 33% 0 0; // Right padding makes room for error bubbles.

  .container-inline & {
    display: inline-block;
    width: auto;
    padding: 0;

    .form-item--error-message {
      @extend %error-bubble--floating-below;
    }
  }

  // Error bubbles sit to the right of radio/checkbox options.
  .form-item--error-message {
    @extend %error-bubble--floating-right;
  }
}

input[type='radio'],
.form-radio,
input[type='checkbox'],
.form-checkbox {
  font-size: 1em;
  line-height: 1.5;

  // Position to look like it's inside it's associated label
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  appearance: none;
  border: 2px solid $charcoal;
  border-radius: 50% !important;
  background-color: #fff;
  width: 1.8rem;
  height: 1.8rem;
  margin: .75em .5em;
  padding: 0;
  vertical-align: baseline;
  box-shadow: none;
  outline: none;
  color: inherit;

  @include breakpoint($tab, $no-query: true) {
    margin: .723em .5em;
  }

  &:checked {
    background-color: #2daff7;
  }

  // sibling labels
  & ~ label {
    display: inline-block;
    position: relative;
    left: 0;
    margin: 0;
    padding: .625em 1em .625em 3.2rem; // Right padding makes space for the input to sit in.
    width: 100%;
    min-width: 4.5em;
    min-height: 2.75em;
    box-shadow: inset 0 0 0 1px $charcoal; // Using box shadow to make thin border as it doesn't affect the overall size.
    font-size: 1em;
    line-height: 1.5;
    vertical-align: baseline;
    color: $charcoal;
    background-color: $white;

    @include breakpoint($tab, $no-query: true) {
      min-height: 2.5em;
      padding: .5em 1em .5em 3.6rem;
    }
  }

  &.error ~ label {
    box-shadow: inset 0 0 0 1px $error;
    outline-color: $error;
    background-color: $error-bg;
    color: $charcoal;
  }

  &:hover:not(.error) ~ label {
    box-shadow: inset 0 0 0 1px lighten($brand-primary-medium, 25%);
  }

  &:checked ~ label {
    background-color: $brand-primary-lightest;
  }

  &:focus ~ label {
    outline: 3px solid $brand-primary-medium;
    outline-offset: -2px;
  }
}

input[type='checkbox'],
.form-checkbox {
  border-radius: 0;

  &:checked {
    border-style: inset;
  }
}


