/*
 * @file
 * Provides the generic styling for layout builder form components.
 */
@import '../../init';
@import 'button/button-defs';

.layout-builder-form,
.layout-builder-update-block,
.layout-builder-configure-block,
.media-library-wrapper form,
.js-media-library-add-form {

  max-width: unset;

  .ajax-spinner__label {
    display: none !important;
  }

  .form-actions {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    margin: 1.5em 0 0;
    padding: 0;

    input[type='submit'] {
      margin-right: .5em;
    }
  }

  .field--name-moderation-state {
    padding: 0;

    * {
      font-size: 16px;
    }

    label {
      &::after {
        content: ':';
      }
    }

    #edit-moderation-state-0 {
      display: flex;
      align-items: center;

      .form-item {
        margin: 0 1.5em 0 0;
        line-height: 4.5rem;
      }

      label {
        margin-right: .5em;
        font-weight: bold;
      }
    }
  }

  fieldset.form-item {
    margin: 1em 0;

    legend {
      @include adjust-font-size-to(18px, 4);
      margin: 0 0 .8rem;

      @include breakpoint($tab, $no-query: true) {
        @include adjust-font-size-to(22px, 4.5);
        margin: 0 0 .9rem;
      }
    }

    .fieldset-wrapper {
      background-color: #eff6fc;
      padding: .5em;
    }
  }

  .form-item {
    padding: 0;
    margin: .25em 0;

    &.form-item-settings-admin-label {
      @include responsive-typo-map($xl-text);
      margin: .8rem 0 1.2rem;
      color: $brand-primary-dark;;

      @include breakpoint($phab, $no-query: true) {
        margin: 0.9rem 0 1.2rem;
      }

      label {
        display: none;
      }
    }

    &.form-item-settings-label-display {
      margin: 0;
    }
  }

  .description {
    margin: .5em 0;
  }

  input[type='radio'],
  .form-radio,
  input[type='checkbox'],
  .form-checkbox {

    @include breakpoint($phab, $no-query: true) {
      @include adjust-font-size-to(16px, 2.3334);
    }

    @include adjust-font-size-to(14px);

    top: 1.3rem;
    z-index: 1;
    left: .9rem;
    clear: both;
    margin: 0;
    padding: 0;
    max-width: 2rem;
    max-height: 2rem;
    line-height: 1.2;
    vertical-align: baseline;
    box-shadow: none;
    border: 0;
    outline: none;
    color: inherit;

    // sibling labels
    & ~ label {
      @include adjust-font-size-to(14px, 3);
      position: relative;
      left: 0;
      margin: 5px 5px 5px 0;
      padding: .5rem 1.5rem .3rem 3.6rem; // Right padding makes space for the input to sit in
      display: inline-block;
      vertical-align: baseline;
      min-width: 7.5rem;
      min-height: 3.4rem;
      border: 1px solid $grey;

      @include breakpoint($phab, $no-query: true) {
        @include adjust-font-size-to(16px, 4);
        min-height: 3.5rem;
      }
    }
  }

  input[type='radio'],
  .form-radio {
    appearance: none;
    border: 2px solid $charcoal;
    border-radius: 50% !important;
    background-color: #fff;
    width: 1.8rem;
    height: 1.8rem;

    &:checked {
      background-color: #2daff7;
    }
  }

  input[type='checkbox'],
  .form-checkbox {
    border: 2px solid $charcoal;
    border-radius: 0;
    background-color: #fff;
    width: 1.8rem;
    height: 1.8rem;

    &:checked {
      background-color: #2daff7;
      border-style: inset;
    }
  }

  select {
    margin: 0;
    display: unset;
    height: 2em;
    min-height: unset;
    padding: 4px 30px 4px 10px;
  }

  table {
    width: 100%;

    .form-checkbox {
      position: static;
      min-height: unset;
      margin: 0;
    }

    th, td {
      font-size: 1.4rem;
      vertical-align: middle;
      padding: .6rem;
      border-left: 0;
      border-right: 0;
      border-color: $grey-medium;
      background-color: #fff;
    }

    td.views-field-thumbnail__target-id {
      text-align: center;
      width: 240px;
      font-size: 0;
      line-height: 0;
    }

    th {
      background-color: $grey-light;

      &.views-field-name {
        width: 220px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .layout-builder__message {

    .container {
      padding: 0;
    }

    .messages {
      margin: .5em 0;
    }

  }

}

.layout-builder-update-block,
.layout-builder-configure-block {

  .button--primary {
    @extend %btn--medium;
  }

  .field--widget-entity-reference-paragraphs {
    margin-bottom: 1.5em;
  }

  .media-library-widget {
    p.media-library-widget-empty-text {
      margin: 0 0 .5em 0;
      padding: .5em;
      background-color: $charcoal;
      color: #fff;
      font-size: 1.6rem;
    }
  }

  .media-library-item {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    outline: 0;

    > * {
      order: 1;
    }

    article {
      position: relative;
      @include responsive-typo-map($body-text);
      width: auto;
      order: 0;
      margin: 0 .5em 0 0;

      .field--name-thumbnail {
        font-size: 0;
        min-width: 220px;
        min-height: 120px;
        text-align: center;
        background-color: #000;
      }

      .media-library-item__attributes {
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        padding: 5px;
        background: rgba(0, 0, 0, .5);
        color: #fff;
        font-size: 12px;
        .media-library-item__name {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          text-align: center;
        }
      }
    }
  }
}

.page-node-type-landing-page {
  .ui-dialog {
    z-index: 501;
  }
  .ui-dialog-buttonpane {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:before,
    &:after {
      content: none;
    }

    .ui-dialog-buttonset {
      margin: 0 1em 0 0;
    }
  }

  .ui-widget,
  .ui-widget input {
    font-size: initial;
  }
}

table.field-multiple-table {

  .draggable {

    &.drag td {
      border-top: 2px solid hotpink;
      border-bottom: 2px solid hotpink;
      opacity: .5;
    }

    td {
      padding: 0;
      border-color: #fff;

      &.field-multiple-drag,
      &.delta-order {
        vertical-align: top;
        text-align: center;

        .form-select {
          margin: .5rem;
        }
      }
    }

    a.tabledrag-handle {
      display: inline-block;
      float: none;
      width: 45px;
      height: 45px;
      padding: 0;
      margin: 0;
      cursor: move;
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }

      .handle {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background: url('/core/misc/icons/787878/move.svg') no-repeat center center;
        background-size: 20px;

      }

      &:hover .handle,
      &:focus .handle {
        background-image: url('/core/misc/icons/000000/move.svg');
      }
    }

    .paragraph-type-top {
      align-items: center;
      padding: 0 4px 0 8px;
      background-color: $brand-primary-light;
    }

    .paragraph-type-title {
      font-size: 1.6rem;
      line-height: 1.5;
      min-width: 150px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .paragraphs-description {
      font-size: 1.6rem;
      line-height: 1.5;
      color: $ash-grey;
    }

    .paragraphs-collapsed-description:after {
      content: none;
    }

    .paragraphs-subform {

      label, .full-text {
        font-size: 1.6rem;
        line-height: 2.1rem;
      }

      [type='text'],
      [type='search'],
      [type='tel'],
      [type='url'],
      [type='email'],
      [type='password'],
      [type='date'],
      [type='time'],
      [type='number'],
      [type='file'] {
        height: 4rem;
        min-height: 4rem;
      }

      .filter-wrapper {
        border: 0;
      }

      .form-item {
        margin: .5em 0;
      }
    }
  }
}

// Media library in a drupal-modal.
#drupal-modal {

  // Fix bug where content is scrolled up underneath the dialog's title bar when the dialog opens.
  scroll-snap-type: y;
  scroll-padding-block-start: 45px; // Approx the height of the dialog title bar.

  .media-library-wrapper {

    width: 100%;

    // Ensure this element snaps to the scroll-padding-block in the parent.
    scroll-snap-align: start;


    .js-media-library-view {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-end;

      .view-header {
        margin: .5em 0;
        text-align: right; /* LTR */
      }

      .view-filters form {
        display: flex;
        align-items: flex-end;

        > * {
          white-space: nowrap;
          font-size: 1.6rem;
          margin: .5em .5em .5em 0;

          &:last-child {
            margin-right: 0;
          }
        }

        label {
          display: block;
          margin: 0;
          font-size: 1.4rem;
        }

        input {
          margin: 0;
          padding: 4px;
          font-size: 1.4rem;
          max-width: 200px;
          min-height: 35px;
        }

        select {
          display: inline-block;
          height: auto;
          padding: 4px 31px 4px 4px;
          line-height: 1em;
          min-height: 35px;
          margin: 0;
          font-size: 1.4rem;
        }
      }
    }

    .view-content {
      flex: 0 0 100%;
      margin-top: .25em;
    }

    .views-display-link {
      margin: 0;
      padding-left: 22px; /* LTR */
      color: #333;
      font-size: 15px;
      line-height: 16px;

      &.is-active {
        font-weight: bold;

        &:focus {
          outline: 0;
        }
      }
    }

    .views-display-link-widget {
      margin-right: 15px;
      background: url('/core/misc/icons/333333/grid.svg') left 0 no-repeat; /* LTR */
    }

    .views-display-link-widget_table {
      background: url('/core/misc/icons/333333/table.svg') left 0 no-repeat; /* LTR */
    }

    .js-media-library-views-form {
      display: flex;
      flex-flow: row wrap;
      flex-basis: 100%;
      justify-content: space-between;
      width: calc(100% + 20px);
      position: relative;
      margin-left: -10px;

      .media-library-item--grid {
        position: relative;
        width: 100%;
        margin: 0;
        padding: 10px;
        font-size: 0;

        @include breakpoint($phab) {
          width: 50%;
        }

        @include breakpoint($tab) {
          width: 33.3%;
        }

        @include breakpoint($lap) {
          width: 25%;
        }

        &.media-library-item--disabled {
          opacity: .5;
        }

        .js-click-to-select-checkbox .form-checkbox {
          top: 5px;
          left: 5px;
        }

        article {
          position: relative;
          width: 100%;
          height: 100%;
          box-shadow: 0px 5px 12px -3px rgba(0, 0, 0, .5);

          .media-library-item__preview {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 150px;
            background-color: #000;
            margin: 0;

            .field--name-thumbnail {
              text-align: center;
            }

            img {
              display: inline-block;
              width: auto;
              height: auto;
              max-height: 150px;
              margin: 0;
            }
          }

          .media-library-item__attributes {
            position: absolute;
            bottom: 0;
            display: block;
            width: 100%;
            padding: 5px;
            background: rgba(0, 0, 0, .5);
            color: #fff;
            font-size: 12px;
            .media-library-item__name {
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              text-align: center;
            }
          }
        }

        .views-field-media-library-select-form input {
          min-height: auto;
        }
      }

      .form-actions {
        flex-basis: 100%;
      }
    }
  }

  #media-library-add-form-wrapper {
    /**
     * Style the added media item container.
     *
     * The added media container receives screen reader focus since it is has the
     * role 'listitem'. Since it is not an interactive element, it does not need
     * an outline.
     */

    .media-library-add-form__added-media {
      margin: 0;
      padding: 0;
      outline: 0;
      list-style: none;
    }

    .media-library-add-form__media {
      position: relative;
      display: flex;
      padding: 1em 0;
      border-bottom: 1px solid #c0c0c0;
      outline: 0;

      &:first-child {
        padding-top: 0;

        .cancel[type="submit"] {
          top: 5px;
        }
      }

      &:last-child {
        padding-bottom: 0;
        border-bottom: 0;
      }

      [data-drupal-selector='edit-preview'] {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 240px;
        margin-right: 20px; /* LTR */
        background: $brand-primary-light;
      }

      .cancel[type="submit"] {
        position: absolute;
        top: 25px;
        right: 6px; /* LTR */
        width: auto;
        min-width: auto;
        margin: 0;
        padding: 2px 20px 2px 2px; /* LTR */
        text-transform: lowercase;
        color: transparent;
        border: 0;
        border-radius: 0;
        background: transparent url('/core/misc/icons/787878/ex.svg') right center no-repeat; /* LTR */
        font-weight: normal;
        line-height: 16px;

        &:focus,
        &.button:disabled,
        &.button:disabled:active,
        &.button:focus {
          color: #787878;
          border: 0;
          background: transparent url('/core/misc/icons/787878/ex.svg') right center no-repeat; /* LTR */
        }

        &:hover,
        &.button:hover {
          color: #e00;
          border: 0;
          background-image: url('/core/misc/icons/ee0000/ex.svg'); /* LTR */
          box-shadow: none;
        }
      }
    }
  }
}

