/*
 * @file
 * Provides styling for search form components.
 */
@import '../../init';

// Search forms
//
// At its most basic level, a search form comprises 2 elements an input and a submit button, they are normally wrapped
// by a form tag. This is common for all search forms on the site and can easily by targeted with css to retain a level
// of consistency - therefore a search form component should have the `.search-form` class added to the form wrapper. A
// modifier class is then used to apply contextual attributes.
//
// Style guide: components.search-form

.view-search-container form,
.search-form {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  max-width: $max-content-width;

  .ga-aside & {
    margin-bottom: 1em;
  }

  .form-item-search-api-fulltext,
  .form-item-search-api-views-fulltext,
  .form-type-search-api-autocomplete {
    flex: auto 1 1;
    max-width: 375px;
  }

  > .form-wrapper {
    flex: 100% 0 0;
  }

  .form-actions {
    flex: 6rem 0 0;
    align-self: flex-end;

    .ga-aside & {
      width: 5.4rem;
    }
  }

  & > .form-item,
  & > .form-actions {
    margin: .5em 0;
  }

  label {
    @include responsive-typo-map($body-text);
    margin: 0 0 .5em;
  }

  input {
    @include responsive-typo-map($body-text);

    .ga-aside & {
      @include adjust-font-size-to(16px);
    }

    &[type='search'],
    &[type='text'] {
      width: 100%;
      min-width: 120px;
      height: 4.5rem;
      padding: .6rem;
      margin: 0;
      border: 1px solid $grey;
      border-right-width: 0;
      background-color: $white;
      color: $charcoal;

      &:focus {
        outline: 3px solid $charcoal;
        outline-offset: -2px;
        border-right-width: 1px;
        border-color: #fff;
        position: relative;
        z-index: 101;
      }
    }

    &[type='submit'] {
      width: 6rem;
      min-width: auto;
      height: 4.5rem;
      padding: 0;
      margin: 0;
      border-color: darken($brand-primary-medium, 5%);
      background: $brand-primary-medium url('data:image/svg+xml;charset=utf-8,%3Csvg%20id%3D%22Layer_1%22%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20100%20100%22%20width%3D%22100px%22%20height%3D%22100px%22%20preserveAspectRatio%3D%22xMinYMid%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%23fff%3Bfill-rule%3Aevenodd%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ctitle%3Esearch-icon%3C%2Ftitle%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M97.5%2C77.89a6%2C6%2C0%2C0%2C1-8.25%2C1.49L64.89%2C62.65a5.85%2C5.85%2C0%2C0%2C1-2.55-5A21.59%2C21.59%2C0%2C0%2C1%2C25.4%2C46.81a21.16%2C21.16%2C0%2C0%2C1%2C3.47-16%2C21.69%2C21.69%2C0%2C0%2C1%2C30-5.42%2C21.36%2C21.36%2C0%2C0%2C1%2C7.1%2C27%2C6%2C6%2C0%2C0%2C1%2C5.67.58L96%2C69.71A5.86%2C5.86%2C0%2C0%2C1%2C97.5%2C77.89ZM61.38%2C40.3a14.8%2C14.8%2C0%2C0%2C0-6.23-9.6%2C15.12%2C15.12%2C0%2C0%2C0-20.92%2C3.77A14.88%2C14.88%2C0%2C0%2C0%2C38%2C55.24%2C15.12%2C15.12%2C0%2C0%2C0%2C59%2C51.46%2C14.74%2C14.74%2C0%2C0%2C0%2C61.38%2C40.3Z%22%2F%3E%3C%2Fsvg%3E') 3px center no-repeat;
      background-size: 4.2rem auto;
      text-indent: -9999px;

      &:focus {
        outline: 3px solid $charcoal;
        outline-offset: -2px;
        position: relative;
        z-index: 101;
      }
    }
  }

  // Search index page search form
  //
  // There are number 'search indexes' on the site, each of which have a unique page where a user can view results and
  // query the items indexed. These search index pages will normally have a search form present to aid with querying the
  // results. To make alter a standard search form to an index page search, the `.search-form--page` modifier class is
  // applied to the wrapping form element after the `.search-form` qualifier.
  //
  // Style guide: components.search-form.page-search
  &--page {

    input {

      &[type='submit'] {
        background-color: $brand-primary-medium;
        border-color: darken($brand-primary-medium, 5%);
      }

      .ga-aside & {
        @include adjust-font-size-to(16px);
      }
    }
  }
}

// Header search form
//
// The header search has some unique styling which mostly evolves
// around how it behaves when the page is viewed responsively. Other points to note are that the colours on the inputs
// are subtly different from other inputs on the site.
//
// Style guide: components.search-form.site-search

header .search-form {
  background-color: $brand-primary-medium;
  padding: 1rem 1.5rem 1rem 5.8rem;
  margin-bottom: 0;
  max-width: 100%;

  @include breakpoint($tab) {
    background-color: inherit;
    padding: 0;
  }

  @include breakpoint($lap) {
    margin-top: .3rem; // slight adjustment to align with the logo
  }

  .form-type-search-api-autocomplete {
    max-width: 100%;
    flex: auto 1 1;
  }

  & > .form-item,
  & > .form-actions {
    margin: 0;
  }

  input {
    height: 4.4rem; // must be min of 44px for good touch target

    &[type='search'] {
      @include adjust-font-size-to(16px);
      max-width: 100%;
      padding: 0 .8rem;
      border-width: 0;

      @include breakpoint($tab) {
        border-width: 1px;
        border-right-width: 0;
      }
    }

    &[type='submit'] {
      border-color: darken($brand-tertiary, 5%);
      background-color: $brand-tertiary;
      color: #fff;
    }
  }
}

.search-form--site {
  &[type='submit'] {
    border-color: darken($brand-tertiary, 5%);
    background-color: $brand-tertiary;
  }
}

// Set the view links on search views so that they match design @ see /contacts/*
.search-results {
  .view-links {
    @include adjust-font-size-to(16px, 4);
  }
}

// Override some facet link styles set in Origins
.facet-item--link {

  .facet-item__value {
    text-decoration: 1px underline $link;
  }

  &:hover .facet-item__value {
    text-decoration: 2px underline #333;
  }
}
