/*
 * @file
 * Provides styling for webform specific components.
 */
@import '../../init';
@import 'button/button-defs';

.webform-submission-form { // Not sure this class is applied to all webforms?

  .form-textarea-wrapper {
    line-height: 0;
  }

  textarea.webform-counter {
    margin-bottom: 0;
  }

  .text-count-wrapper {
    @include responsive-typo-map($body-text);
    color: #fff;
    background-color: $charcoal;
    padding: .3334em .6rem;
    margin: 0;

    &.webform-counter-warning .text-count {
      color: lighten(color('orange'), 10%);
      font-weight: bold;
    }
  }
}

/* Error Tool Tip Styles*/
.form-item--error-message {
  position: absolute;
  top: 100%;
  left: -1px;
  margin-top: -1px;
  z-index: 101;

  .webform-counter + & {
    margin-top: calc(.5em - 1px);
  }

  & > * {
    opacity: 0;
    transition: opacity 1s ease-in;
  }

  .error {
    @include responsive-typo-map($body-text);
    font-weight: bold;
    display: block;
    position: relative;
    padding: .9rem;
    color: $white;
    background-color: $hc-red;
    border: 1px solid $hc-red;
    border-radius: 3px;
    box-shadow: 6px 6px 9px 0 rgba(0, 0, 0, .3);
    opacity: 1;

    input[type=radio] + &,
    input[type=checkbox] + & {
      width: max-content;
      max-width: 300px;
    }

    &:after,
    &:before {
      content: '';
      border: .9rem solid transparent;
      position: absolute;
      left: .9rem;
    }

    &:after {
      border-bottom: .9rem solid $hc-red;
      top: -1.8rem;
    }
  }
}

/* webform radios and checkboxes displayed inline are wrapped with this class */
.webform-options-display-side-by-side {
  // webform css adds margin - no need for margins on child labels
  label {
    margin: 0;
  }
}

