/*
 * @file
 *
 */
@import '../../init';

//
.rel-menu {
  border-top: 5px solid color(brand-primary-medium);
  background-color: color(brand-primary-lightest);
  padding: 27px 10px 9px;

  .menu-title {
    @include adjust-font-size-to(24px, 4.5);
    margin: 0 0 2.1rem;
  }

  .nav-menu {
    margin-bottom: 2.7rem;
  }
}

.toc-menu {
  background: transparent;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  margin: 1em 0 1.5em;
  padding: 0;

  .menu-title {
    @include responsive-typo-map($normal-text);
    font-weight: bold;
  }

  ul {
    margin: 1em 0 2.1rem;

    li {
      @include responsive-typo-map($body-text);
      padding-bottom: .5em;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}
