/*
 * @file
 *
 */
@import '../../init';

.sub-menu--related {
  border-top: 5px solid color(brand-primary-medium);
  padding: 1.5em 10px .5em;
  background-color: color(brand-primary-lightest);
}

.sub-menu--widget {
  border-top: 5px solid color(brand-primary-medium);
  padding: 1.5em 10px .5em;
  background-color: transparent;
}

.sub-menu--sibling {
  margin-top: 0;
  padding: 0 10px .5em;
  background-color: transparent;
}

.sub-menu--toc {
  background: transparent;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  margin: 1em 0 1.5em;
  padding: 0;

  .skip-link {
    margin: 1em 0;
  }

  .menu-title {
    @include responsive-typo-map($body-text);
    font-weight: bold;
    margin: 1em 0 .5em;
  }

  ul {
    margin: 1em 0 2.1rem;

    li {
      @include responsive-typo-map($body-text);
      padding-bottom: .5em;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}


