/*
 * @file
 *
 */
@import '../../init';

.rel-menu {
  background-color: color(brand-primary-lightest);

  &--latest-news,
  &--featured-news {
    .date-published {
      display: block;
      font-size: 1.4rem;
      line-height: 2.4rem;
      color: color(ash-grey);

      @include breakpoint($tab) {
        font-size: 1.6rem;
        line-height: 2.7rem;
      }
    }
  }
}

.toc-menu {
  background: transparent;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  margin: 1em 0 1.5em;
  padding: 0;

  .skip-link {
    margin: 1em 0;
  }

  .menu-title {
    @include responsive-typo-map($body-text);
    font-weight: bold;
    margin: 1em 0 .5em;
  }

  ul {
    margin: 1em 0 2.1rem;

    li {
      @include responsive-typo-map($body-text);
      padding-bottom: .5em;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}
