/*
 * @file
 * Provides some base definitions that are common among button type elements.
 */

@mixin btn-color($bg-color: $dark-grey, $border-color: $bg-color, $txt-color: $white, $scheme: 'dark') {

  $bg-color-hover: darken($bg-color, 5%);
  $bg-color-active: darken($bg-color, 8%);
  $bg-color-focus: $bg-color-active;
  $border-color-hover: darken($border-color, 5%);
  $border-color-active: darken($border-color, 10%);
  $border-color-focus: darken($border-color, 5%);

  @if($scheme == 'light') {
    $bg-color-hover: lighten($bg-color, 5%);
    $bg-color-active: darken($bg-color, 3%);
    $bg-color-focus: $bg-color-active;
    $border-color-hover: darken($border-color, 5%);
    $border-color-active: darken($border-color, 5%);
    $border-color-focus: darken($border-color, 5%);
  }

  background-color: $bg-color;
  border-color: $border-color;
  color: $txt-color;

  &:hover {
    background-color: $bg-color-hover;
    border-color: $border-color-hover;
    color: $txt-color;
  }

  &:active {
    background-color: $bg-color-active;
    border-color: $border-color-active;
    color: $txt-color;
  }

  &:focus {
    background-color: $bg-color-focus;
    border-color: $border-color-focus;
    color: $txt-color;
  }
}

@mixin btn {

  @include responsive-typo-map($btn-default);

  @include breakpoint($tab) {
    min-width: 120px;
    min-height: 4.5rem;
    padding: .8rem 1.5rem;
    margin: 0;
  }

  display: inline-block;
  min-width: 100px;
  min-height: 4rem;
  padding: .8rem 1.2rem;
  border: 1px solid transparent;
  border-radius: 0;
  text-align: center;
  text-decoration: none !important;
  background-repeat: no-repeat;
  background-position-y: center;
  appearance: none;

  &:link,
  &:visited {
    color: $white;
  }

  &:focus {
    outline: 3px solid #000;
  }

  &:hover {
    text-decoration: none;
  }

  &:active {
    outline: 0;
  }
}

@mixin btn--small {
  @include responsive-typo-map($btn-small);

  @include breakpoint($tab) {
    min-width: 100px;
    min-height: 36px;
    padding: .4rem .9rem;
  }

  min-width: 44px;
  min-height: 32px;
  padding: .4rem .8rem;
}

@mixin btn--medium {
  @include responsive-typo-map($btn-medium);

  @include breakpoint($tab) {
    min-height: 4.5rem;
    padding: .6rem 1.8rem;
  }

  min-width: 125px;
  min-height: 4.4rem;
  padding: .7rem 1.2rem;
}

@mixin btn--large {
  @include responsive-typo-map($btn-large);

  @include breakpoint($tab) {
    min-height: 5.4rem;
    padding: .8rem 1.8rem;
  }

  min-width: 150px;
  min-height: 4.8rem;
  padding: .7rem 1.6rem;
}

@mixin btn--block {
  display: block;
  width: 100%;
}

@mixin btn--right {
  background-image: resolve('arrow_forward_white.svg');
  background-position: right .6rem top 50%;
  background-size: 2.4rem auto;
}

@mixin btn--left {
  background-image: resolve('arrow_back_white.svg');
  background-position: left .6rem top 50%;
  background-size: 2.4rem auto;
}

@mixin btn--dark-right {
  background-image: resolve('arrow_forward_black.svg');
  background-position: right .6rem top 50%;
  background-size: 2.4rem auto;
}

@mixin btn--dark-left {
  background-image: resolve('arrow_back_black.svg');
  background-position: left 6px top 50%;
  background-size: 2.4rem auto;
}

@mixin btn--link {
  background-color: transparent;
  border: 0;
  color: $link;
}

@mixin btn--link-inline {
  @include link-state-style($link-body-no-visited);
  display: inline;
  padding: 0;
  margin: 0;
}



// The disabled variation should always go last, so that it overrides any
// other variations.
%button--disabled[disabled] {
  // Re-set default cursor for disabled elements.
  cursor: default;
  color: color(button-disabled);

  &:hover,
  &:focus,
  &:active {
    // Override any link underlines and color changes.
    color: color(button-disabled);
  }
}
