/*
 * @file
 * Provides a grid like component for creating an a-z list.
 */
/* Vertical rhythm presets =========================================== */
/* Set the base images folder */
/* Layout ============================================================ */
/* Breakpoints ======================================================== */
/* line 12, src/scss/3_components/block/az-facet-list.scss */
.az-facet-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: .5em -1px .5em 1px;
  padding: 0;
  max-width: 60rem;
}

/* line 20, src/scss/3_components/block/az-facet-list.scss */
.az-facet-list li {
  font-size: 0;
  display: inline-block;
  padding: 0;
  margin: 0;
}

/* line 27, src/scss/3_components/block/az-facet-list.scss */
.az-facet-list a,
.az-facet-list .link__self,
.az-facet-list .active {
  font-size: 2.1rem;
  line-height: 4.40004rem;
  display: inline-block;
  width: 4.4rem;
  height: 4.4rem;
  margin: -1px 0 0 -1px;
  text-align: center;
  text-decoration: none;
}

@media (min-width: 768px) {
  /* line 27, src/scss/3_components/block/az-facet-list.scss */
  .az-facet-list a,
  .az-facet-list .link__self,
  .az-facet-list .active {
    font-size: 2.4rem;
    line-height: 4.5rem;
    width: 4.5rem;
    height: 4.5rem;
  }
}

/* line 45, src/scss/3_components/block/az-facet-list.scss */
.az-facet-list a,
.az-facet-list span {
  color: #0e6bb3;
  background-color: transparent;
  text-decoration: none;
  border: 1px solid #0a78cd;
  outline: 0 solid transparent;
  outline-offset: -1px;
  transition: background-color .25s, outline-color .25s;
  z-index: 0;
  position: relative;
}

/* line 116, src/scss/init/links/_links.scss */
.az-facet-list a:visited, .az-facet-list a.visited,
.az-facet-list span:visited,
.az-facet-list span.visited {
  color: #0e6bb3;
  background-color: transparent;
  text-decoration: none;
  border: 1px solid #0a78cd;
  outline: 0 solid transparent;
  outline-offset: -1px;
  transition: background-color .25s, outline-color .25s;
  z-index: 0;
  position: relative;
}

/* line 116, src/scss/init/links/_links.scss */
.az-facet-list a:focus, .az-facet-list a.focus,
.az-facet-list span:focus,
.az-facet-list span.focus {
  color: #0e6bb3;
  background-color: transparent;
  text-decoration: none;
  border: 1px solid #0a78cd;
  outline: 4px solid #0e6bb3;
  outline-offset: -1px;
  transition: background-color .25s, outline-color .25s;
  z-index: 1;
  position: relative;
}

/* line 116, src/scss/init/links/_links.scss */
.az-facet-list a:hover, .az-facet-list a.hover,
.az-facet-list span:hover,
.az-facet-list span.hover {
  color: #fff;
  background-color: #076cba;
  text-decoration: none;
  border: 1px solid #0a78cd;
  outline: 0 solid transparent;
  outline-offset: -1px;
  transition: background-color .25s, outline-color .25s;
  z-index: 0;
  position: relative;
}

/* line 116, src/scss/init/links/_links.scss */
.az-facet-list a:active, .az-facet-list a.active,
.az-facet-list span:active,
.az-facet-list span.active {
  color: #333;
  background-color: #cee4f6;
  text-decoration: none;
  border: 1px solid #0a78cd;
  outline: 0 solid transparent;
  outline-offset: -1px;
  transition: background-color .25s, outline-color .25s;
  z-index: 0;
  position: relative;
}

/*# sourceMappingURL=az-facet-list.css.map */