/*
 * @file
 * Provides very specific styling for view pages and blocks.
 */
@import '../init';

// News
//
// For the list of older news items
//
// Weight: 0
//
// Style guide: theme.views.news
.hr-above {
  border-top: 5px solid $brand-secondary;
  margin-top: 1.8rem;
  padding-top: 1.6rem;
}

.older-news {
  .card__meta {
    color: $meta;
    display: block;
    margin-bottom: 0;
  }
}
