/*
 * @file
 * Provides the styling for menus other than the main menu on the site.
 */
/* Vertical rhythm presets =========================================== */
/* Set the base images folder */
/* Layout ============================================================ */
/* Breakpoints ======================================================== */
/* line 15, src/scss/3_components/navigation/sub-menus.scss */
.sub-menu {
  margin: 1.5em 0;
}

/* line 19, src/scss/3_components/navigation/sub-menus.scss */
.sub-menu:first-child {
  margin: 0;
}

/* line 23, src/scss/3_components/navigation/sub-menus.scss */
.sub-menu .menu-title {
  font-size: 2.4rem;
  line-height: 3rem;
  margin: 0 0 2.1rem;
}

/* line 27, src/scss/3_components/navigation/sub-menus.scss */
.sub-menu .menu-title--large {
  font-size: 2.8rem;
  line-height: 3.6rem;
  font-weight: normal;
}

/* line 34, src/scss/3_components/navigation/sub-menus.scss */
.sub-menu .nav-menu {
  margin-top: 0;
  margin-bottom: 2.7rem;
}

/* line 40, src/scss/3_components/navigation/sub-menus.scss */
.sub-menu .nav-item {
  position: relative;
  list-style: none;
  padding: 0 1rem .5em 1.5rem;
}

/* line 45, src/scss/3_components/navigation/sub-menus.scss */
.sub-menu .nav-item::before {
  content: '-';
  position: absolute;
  left: 0;
  top: 0;
}

/* line 54, src/scss/3_components/navigation/sub-menus.scss */
.sub-menu .nav-menu a, .sub-menu .nav-link {
  color: #0e6bb3;
  text-decoration: none;
  outline-offset: 0;
  display: inline-block;
  width: 100%;
}

/* line 116, src/scss/init/links/_links.scss */
.sub-menu .nav-menu a:visited, .sub-menu .nav-menu a.visited, .sub-menu .nav-link:visited, .sub-menu .nav-link.visited {
  color: #0e6bb3;
  text-decoration: none;
  outline-offset: 0;
}

/* line 116, src/scss/init/links/_links.scss */
.sub-menu .nav-menu a:focus, .sub-menu .nav-menu a.focus, .sub-menu .nav-link:focus, .sub-menu .nav-link.focus {
  color: #fff;
  background-color: #4d4d4d;
  text-decoration: none;
  outline: 5px solid #4d4d4d;
  outline-offset: 0;
}

/* line 116, src/scss/init/links/_links.scss */
.sub-menu .nav-menu a:hover, .sub-menu .nav-menu a.hover, .sub-menu .nav-link:hover, .sub-menu .nav-link.hover {
  color: #fff;
  background-color: #4d4d4d;
  text-decoration: none;
  outline: 5px solid #4d4d4d;
  outline-offset: 0;
}

/* line 116, src/scss/init/links/_links.scss */
.sub-menu .nav-menu a:active, .sub-menu .nav-menu a.active, .sub-menu .nav-link:active, .sub-menu .nav-link.active {
  color: #fff;
  background-color: #000;
  text-decoration: none;
  outline: 5px solid #000;
  outline-offset: 0;
}

/* line 62, src/scss/3_components/navigation/sub-menus.scss */
.sub-menu--related {
  border-top: 5px solid #0a78cd;
  padding: 1.5em 10px .5em;
  background-color: #f3f8fc;
}

/* line 68, src/scss/3_components/navigation/sub-menus.scss */
.sub-menu--widget {
  border-top: 5px solid #0a78cd;
  padding: 1.5em 10px .5em;
  background-color: transparent;
}

/* line 74, src/scss/3_components/navigation/sub-menus.scss */
.sub-menu--sibling {
  margin-top: 0;
  padding: 0 10px .5em;
  background-color: transparent;
}

/* line 80, src/scss/3_components/navigation/sub-menus.scss */
.sub-menu--book {
  padding: 1.5em 0 0;
  border-top: 5px solid #0a78cd;
  width: calc(100vw - 30px);
  max-width: 940px;
}

@media (min-width: 768px) {
  /* line 80, src/scss/3_components/navigation/sub-menus.scss */
  .sub-menu--book {
    width: calc(100vw - 40px);
  }
}

/*# sourceMappingURL=sub-menus.css.map */