/*
 * @file
 * Provides the styling for a toggle list.
 *
 * @requires js/toggle-btn-script.js
 */
/* Vertical rhythm presets =========================================== */
/* Set the base images folder */
/* Layout ============================================================ */
/* Breakpoints ======================================================== */
/*
 * @file
 * Provides some base definitions that are common among button type elements.
 */
/* line 20, src/scss/3_components/navigation/toggle-list.scss */
.toggle-list__toggle {
  background-color: #666;
  border-color: #666;
  color: #fff;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 0;
  text-align: center;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position-y: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 1.6rem;
  line-height: 2.4rem;
  min-width: 4.4rem;
  min-height: 4.4rem;
  padding: 0.8rem 1.2rem;
  background-size: 1.60008rem auto;
  background-color: #0a78cd;
  border-color: #0a78cd;
  color: #fff;
  width: 100%;
  position: relative;
  padding-right: 2em !important;
}

/* line 122, src/scss/3_components/form/button/_button-defs.scss */
.toggle-list__toggle:hover {
  background-color: #595959;
  border-color: #595959;
  color: #fff;
}

/* line 128, src/scss/3_components/form/button/_button-defs.scss */
.toggle-list__toggle:active {
  background-color: #525252;
  border-color: #4d4d4d;
  color: #fff;
}

/* line 134, src/scss/3_components/form/button/_button-defs.scss */
.toggle-list__toggle:focus {
  background-color: #525252;
  border-color: #595959;
  color: #fff;
}

/* line 22, src/scss/3_components/form/button/_button-defs.scss */
.toggle-list__toggle:link, .toggle-list__toggle:visited {
  color: #fff;
}

/* line 27, src/scss/3_components/form/button/_button-defs.scss */
.toggle-list__toggle:focus {
  outline: 3px solid #000;
}

/* line 31, src/scss/3_components/form/button/_button-defs.scss */
.toggle-list__toggle:hover {
  text-decoration: none;
}

/* line 35, src/scss/3_components/form/button/_button-defs.scss */
.toggle-list__toggle:active {
  outline: 0;
}

@media screen and (min-width: 768px) {
  /* line 20, src/scss/3_components/navigation/toggle-list.scss */
  .toggle-list__toggle {
    font-size: 1.8rem;
    line-height: 2.7rem;
  }
}

@media (min-width: 768px) {
  /* line 20, src/scss/3_components/navigation/toggle-list.scss */
  .toggle-list__toggle {
    min-width: 4.5rem;
    min-height: 4.5rem;
    padding: 0.8rem 1.3rem;
    background-size: 1.73342rem auto;
  }
}

/* line 122, src/scss/3_components/form/button/_button-defs.scss */
.toggle-list__toggle:hover {
  background-color: #096ab5;
  border-color: #096ab5;
  color: #fff;
}

/* line 128, src/scss/3_components/form/button/_button-defs.scss */
.toggle-list__toggle:active {
  background-color: #0861a6;
  border-color: #085c9c;
  color: #fff;
}

/* line 134, src/scss/3_components/form/button/_button-defs.scss */
.toggle-list__toggle:focus {
  background-color: #0861a6;
  border-color: #096ab5;
  color: #fff;
}

/* line 27, src/scss/3_components/navigation/toggle-list.scss */
a.toggle-list__toggle {
  color: #fff;
}

/* line 31, src/scss/3_components/navigation/toggle-list.scss */
.toggle-list__toggle .ico-arrow-down {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin: 0 .5em;
  position: absolute;
  top: calc(50% - .5em);
  transition: transform .4s ease;
}

/* line 41, src/scss/3_components/navigation/toggle-list.scss */
.toggle-list__toggle[aria-pressed='true'] .ico-arrow-down {
  transform: rotate(270deg);
}

/*# sourceMappingURL=toggle-list.css.map */