/*
 * @file
 * Provides the styling for book navigation element.
 */
@import '../../init';

.book-navigation {
  display: table;
  list-style: none;
  width: 100%;
  min-height: 3em;
  padding: 1.5em 0;
  margin: 0;
  background-color: $grey-lightest;

  @include breakpoint($tab) {
    flex-direction: row;
  }

  li {
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    padding: 0;

    a,
    span {
      @include link-state-style($link-body-no-visited);
      display: inline-block;
      position: relative;

      .ico {
        position: absolute;
        top: calc(50% - .75em);
        width: 1.5em;
        height: 1.5em;
      }
    }

    &.page-previous {
      width: 35%;
      text-align: left;

      a {
        margin-left: 2em;
      }

      .ico {
        left: -2em;
      }
    }

    &.page-next {
      width: 35%;
      text-align: right;

      a {
        margin-right: 2em;
      }

      .ico {
        right: -2em;
      }
    }

    &.page-up {
      flex: 20% 1 0;
      padding: 0 1em;
      text-align: center;
    }
  }
}
