/*
 * @file
 * Provides the styling for menus other than the main menu on the site.
 */
@import '../../init';

// Sub menus
//
// The sub menus component provides some base styling for lists of navigational links that may or may not be contained
// in a `<nav>` tag. They are commonly found on the side of pages, for example a list of related content or a table of
// the current pages contents. There are some modifiers commonly applied (which are provided in the equivalent 4_states
// scss file) to these menus to meet specific design concepts.
//
// Style guide: components.navigation.sub-menus
.sub-menu {
  border-top: 5px solid color(brand-primary-medium);
  padding: 1.5em 10px .5em;

  &--sibling {
    border-top: 0;
    padding-top: 0;
  }

  .menu-title {
    @include adjust-font-size-to(24px, 5);
    margin: 0 0 2.1rem;
  }

  .nav {
    &-menu {
      margin-top: 0;
      margin-bottom: 2.7rem;
    }

    // applied to the menu li
    &-item {
      position: relative;
      list-style: none;
      padding: 0 0 .6rem 1rem;

      &::before {
        content: '-';
        position: absolute;
        left: 0;
        top: 0;
      }
    }

    // applied to menu links
    &-menu a,
    &-link {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
