/*
 * @file
 * Provides the layout styles for content output from field_photo for any entity.
 */
@import '../../init';

.photo {
  display: inline;
  font-size: .1px;
  line-height: 0;

  img {
    width: 100%;
    height: auto;
    margin: 1.6rem 0;

    @include breakpoint($mob) {
      clear: right;
      float: right;
      width: 48.3871%;
      max-width: 300px;
      margin-left: 2.4rem;
    }

    @include breakpoint($tab) {
      margin: 1.8rem 0 1.8rem 2.7rem;
    }
  }
}
