/*
 * @file
 * Provides the layout styles for content output from field_photo for any entity.
 */
@import '../../init';

.card__image {
  display: inline;
  font-size: .1px;
  line-height: 0;

  img {
    clear: right;
    float: right;
    width: 48.3871%;
    max-width: 300px;
    margin: 9px 0 9px 27px;
  }
}
