/*
 * @file
 * Provides styles for content displayed in teaser view mode/layout.
 */

@import '../init';

// TODO: move the generic classes to somewhere else.
.hr-above {
  border-top-width: 4px;
  border-top-style: solid;
  margin-top: 16px;
  margin-bottom: 12px;
  padding-top: 16px;
}

.latest-news {
  font-size: 1.6rem;

  ul {
    padding: 0;
  }

  li {
    list-style: none;
  }
}

.featured-item {
  position: relative;
  padding-bottom: 1rem;

  @include breakpoint($tab) {
    padding-left: 165px;
  }

  h3 {
    font-size: 1.8rem;
    line-height: 2.4rem;
    margin: 0 0 .5rem;

    @include breakpoint($tab) {
      font-size: 1.6rem;
      margin: 0;
    }
  }

  .published-date {
    font-size: 1.4rem;
    line-height: 2.1rem;
    margin: .5rem 0;
    color: $grey-dark;
  }

  .teaser {
    font-size: 1.5rem;
    line-height: 2.1rem;
  }

  .photo {
    width: 100%;
    display: block;
    margin: .5rem 0;

    img {
      width: 100%;
      margin: 0;

      @include breakpoint($tab) {
        width: 150px;
        max-height: 100px;
      }
    }

    @include breakpoint($tab) {
      position: absolute;
      left: 0;
      top: 5px;
    }
  }
}

.older-news {
  li {
    font-size: 1.4rem;
    margin: .5rem 0;
  }

  h2 {
    font-size: 2.2rem;

    @include breakpoint($tab) {
      font-size: 2.4rem;
    }
  }

  a {
    display: block;
    font-size: 1.5rem;
  }
}
