/*
 * @file
 * Provides the layout styles for common nics 2 column layouts.
 */

@import '../init';

// Two Column layouts
//
// Commonly used 2 column page layouts. Two column layouts should, as a rule, have two child elements under the parent
// grid wrapper. The grid items are set out using the `grid-template-columns` attribute, therefore when more child
// elements sit under the grid parent wrapping element each additional element will be placed in the next available slot
// in the grid-template-columns pattern.
//
// Grid structures are described with a `.layout--*` modifier class applied on the parent grid item. The available
// two column modifiers are outlined in the examples below. Child items can have additional classes added to them to
// assist with defining grid areas and these in turn also help with providing appropriate fall backs. For two column
// grids, area identifier classes are `.ga-main` and `ga-side` and are used to describe whether the child element should
// be positioned in the larger area of available grid space (`.ga-main`) or the smaller area of available grid space
// (`.ga-side`).
//
// .layout--main-n-side - A two column layout for article style pages, with a right sidebar for useful links.
// .layout--side-n-main - A two column layout for search style pages, with a left sidebar for widgets to scope results.
// .layout--diptych - A two column layout where each column is an equal width.
//
// Markup: ../kss-templates/layouts-nics-2-col.twig
//
// Weight: -6
//
// Style guide: layouts.two-column
.layout {
  &--main-n-side,
  &--side-n-main {
    @include breakpoint($tab) {
      grid-gap: 16px;

      .ga-main {
        grid-area: main;
        /* no grid support? */
        float: left;
        width: 62%;
      }

      .ga-aside {
        grid-area: side;
        /* no grid support? */
        float: right;
        width: 38%;
      }
    }

    @include breakpoint($lap) {
      grid-gap: 28px;

      .ga-main {
        width: 65.9575%;
      }

      .ga-aside {
        width: 34.0425%;
        //padding-left: 28px;
      }
    }
  }

  &--main-n-side {
    @include breakpoint($tab) {
      grid-template-columns: .62fr 1-.62fr;
      grid-template-areas: 'main side';
    }
    @include breakpoint($lap) {
      grid-template-columns: .659575fr 1-.659575fr;
    }
  }

  &--side-n-main {
    @include breakpoint($tab) {
      grid-template-columns: 1-.62fr .62fr;
      grid-template-areas: 'side main';

      .ga-main {
        /* no grid support? */
        float: right;
      }

      .ga-aside {
        /* no grid support? */
        float: left;
      }
    }
    @include breakpoint($lap) {
      grid-template-columns: 1-.659575fr .659575fr;
    }
  }

  &--diptych {
    @include breakpoint($tab) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: $grid-gap;

      > * {
        /* no grid support? */
        float: left;
        width: 50%;
      }
    }
  }
}
