/*
 * @file
 * Provides the layout styles for nidirect front page and theme taxonomy term pages.
 */

@import '../init';

// Front page layout / theme page layout
//
// The front page and theme taxonomy pages have similar layout.
//
// Markup: ../kss-templates/layouts-nidirect-2-col.twig
//
// Weight: -6
//
// Style guide: layouts.nidirect-two-column

.layout--front {

  @include breakpoint($lap) {
    // 620 + 20 + 300 = 940
    grid-template-columns: 620fr 300fr;
    grid-gap: 0 20px;
  }
}

.layout--theme-term {

  @include breakpoint($tab) {
    // 620 + 20 + 300 = 940
    grid-template-columns: 620fr 300fr;
    grid-gap: 0 20px;
  }
}

.section {
  &--info-services,
  &--popular {
    padding-bottom: 1.5em;
  }

  &--popular {
    background-color: $grey-light;
    padding: 2em 15px 0;
  }

  @at-root .layout--front &--popular {

    @include breakpoint($phab) {
      display: grid;
      grid-gap: 0 1.5em;
      grid-template-columns: 1fr 1fr;
    }

    @include breakpoint($lap) {
      display: block;
    }
  }

  &--featured {
    border-top: 10px solid color(brand-primary-medium);
  }
}
