/*
 * @file
 * Provides the layout styles for nidirect front page.
 */

@import '../init';

// Front page layout
//
// The front page is a bespoke page
//
// Markup: ../kss-templates/layouts-front.twig
//
// Weight: -6
//
// Style guide: layouts.front

.layout--front {

  @include breakpoint($lap) {
    // 620 + 20 + 300 = 940
    grid-template-columns: 620fr 300fr;
    grid-gap: 0 20px;
  }
}

.section {
  &--info-services,
  &--popular {
    padding-bottom: 1.5em;
  }

  &--popular {
    background-color: $grey-light;
    padding: 0 15px;
    @include breakpoint($phab) {
      display: grid;
      grid-gap: 0 1.5em;
      grid-template-columns: 1fr 1fr;
    }
    @include breakpoint($lap) {
      display: block;
    }
  }

  &--featured {
    border-top: 10px solid color(brand-primary-medium);
  }
}
