/* Vertical rhythm presets =========================================== */
/* Set the base images folder */
/* Layout ============================================================ */
/* Breakpoints ======================================================== */
/* line 3, src/scss/4_state/block/eu-cookie-compliance.scss */
.sliding-popup-bottom,
.sliding-popup-top {
  width: 100%;
  z-index: 99999;
}

/* line 10, src/scss/4_state/block/eu-cookie-compliance.scss */
.sliding-popup-bottom {
  position: fixed;
}

/* line 14, src/scss/4_state/block/eu-cookie-compliance.scss */
.sliding-popup-top {
  position: relative;
}

/* line 18, src/scss/4_state/block/eu-cookie-compliance.scss */
button.eu-cookie-withdraw-tab {
  background: #041e34;
  color: white;
  border: none;
  padding: 0.2em 0.5em;
  border-radius: 3px 3px 0 0;
  top: 1px;
}

/* line 28, src/scss/4_state/block/eu-cookie-compliance.scss */
.eu-cookie-compliance-banner {
  width: 100%;
  background: #041e34;
  padding-bottom: 1.6rem;
}

@media (min-width: 768px) {
  /* line 28, src/scss/4_state/block/eu-cookie-compliance.scss */
  .eu-cookie-compliance-banner {
    padding-bottom: 2.1rem;
  }
}

/* line 37, src/scss/4_state/block/eu-cookie-compliance.scss */
.eu-cookie-compliance-banner .popup-content {
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto 1.5em auto;
  grid-template-rows: auto auto;
  grid-row-gap: 1.5em;
}
.eu-cookie-compliance-banner .popup-content > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.eu-cookie-compliance-banner .popup-content > *:nth-child(2) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

/* line 44, src/scss/4_state/block/eu-cookie-compliance.scss */
.eu-cookie-compliance-buttons {
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
  -ms-grid-row-align: end;
  align-self: end;
}

/* line 50, src/scss/4_state/block/eu-cookie-compliance.scss */
.eu-cookie-compliance-buttons .btn {
  margin-left: 1em;
}

/* line 53, src/scss/4_state/block/eu-cookie-compliance.scss */
.eu-cookie-compliance-buttons .btn:not(.decline-button) {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

/* line 58, src/scss/4_state/block/eu-cookie-compliance.scss */
.eu-cookie-compliance-buttons .btn:focus {
  outline-color: #fff;
}

/* line 66, src/scss/4_state/block/eu-cookie-compliance.scss */
.eu-cookie-compliance-message h2 {
  font-size: 2.1rem;
  line-height: 2.4rem;
  margin: 3.2rem 0 1.2rem;
  color: white;
}

@media screen and (min-width: 768px) {
  /* line 66, src/scss/4_state/block/eu-cookie-compliance.scss */
  .eu-cookie-compliance-message h2 {
    font-size: 2.4rem;
    line-height: 3rem;
    margin: 3.6rem 0 1.8rem;
  }
}

/* line 71, src/scss/4_state/block/eu-cookie-compliance.scss */
.eu-cookie-compliance-message a {
  color: #00aae5;
  background-color: transparent;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  outline: 0;
  outline-offset: 0;
}

/* line 116, src/scss/init/links/_links.scss */
.eu-cookie-compliance-message a:visited, .eu-cookie-compliance-message a.visited {
  color: #00aae5;
  background-color: transparent;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  outline: 0;
  outline-offset: 0;
}

/* line 116, src/scss/init/links/_links.scss */
.eu-cookie-compliance-message a:focus, .eu-cookie-compliance-message a.focus {
  color: #0e6bb3;
  background-color: #fff;
  text-decoration: none;
  -webkit-text-decoration-color: #0e6bb3;
  text-decoration-color: #0e6bb3;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
  outline: 2px solid #fff;
  outline-offset: 0;
}

/* line 116, src/scss/init/links/_links.scss */
.eu-cookie-compliance-message a:hover, .eu-cookie-compliance-message a.hover {
  color: #00aae5;
  background-color: transparent;
  text-decoration: underline;
  -webkit-text-decoration-color: #00aae5;
  text-decoration-color: #00aae5;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
  outline: 0;
  outline-offset: 0;
}

/* line 116, src/scss/init/links/_links.scss */
.eu-cookie-compliance-message a:active, .eu-cookie-compliance-message a.active {
  color: #d1431f;
  background-color: transparent;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  outline: 0;
  outline-offset: 0;
}

/* line 75, src/scss/4_state/block/eu-cookie-compliance.scss */
.eu-cookie-compliance-message p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: white;
}

@media (min-width: 768px) {
  /* line 75, src/scss/4_state/block/eu-cookie-compliance.scss */
  .eu-cookie-compliance-message p {
    font-size: 1.8rem;
    line-height: 2.7rem;
  }
}

/* line 83, src/scss/4_state/block/eu-cookie-compliance.scss */
.eu-cookie-compliance-message p:first-child {
  font-size: 2.4rem;
  line-height: 3.18rem;
  margin: 1.6rem 0;
}

@media (min-width: 600px) {
  /* line 83, src/scss/4_state/block/eu-cookie-compliance.scss */
  .eu-cookie-compliance-message p:first-child {
    font-size: 2.8rem;
    line-height: 3.6rem;
  }
}

@media (min-width: 768px) {
  /* line 83, src/scss/4_state/block/eu-cookie-compliance.scss */
  .eu-cookie-compliance-message p:first-child {
    margin: 2.4rem 0 1.2rem;
    font-weight: bold;
  }
}

/* line 97, src/scss/4_state/block/eu-cookie-compliance.scss */
.eu-cookie-compliance-message p:last-of-type {
  margin-bottom: 0;
}

/* line 102, src/scss/4_state/block/eu-cookie-compliance.scss */
.eu-cookie-compliance-message .find-more-button {
  color: #1593f4;
  border-bottom: 1px solid;
}

/* line 106, src/scss/4_state/block/eu-cookie-compliance.scss */
.eu-cookie-compliance-message .find-more-button:focus {
  color: #fff;
}

/* line 110, src/scss/4_state/block/eu-cookie-compliance.scss */
.eu-cookie-compliance-message .find-more-button:hover {
  border-color: #fff;
}

/* line 117, src/scss/4_state/block/eu-cookie-compliance.scss */
.eu-cookie-compliance-default-button,
.eu-cookie-compliance-secondary-button,
.eu-cookie-compliance-more-button,
.eu-cookie-compliance-hide-button,
.eu-cookie-withdraw-tab {
  cursor: pointer;
}

/* line 125, src/scss/4_state/block/eu-cookie-compliance.scss */
.eu-cookie-withdraw-wrapper.sliding-popup-top,
.eu-cookie-withdraw-wrapper.sliding-popup-top .eu-cookie-withdraw-banner {
  transform: scaleY(-1);
}

/* line 130, src/scss/4_state/block/eu-cookie-compliance.scss */
.eu-cookie-withdraw-tab {
  position: absolute;
  top: 0;
  transform: translate(-50%, -100%);
  left: 50%;
}

/* line 137, src/scss/4_state/block/eu-cookie-compliance.scss */
.eu-cookie-withdraw-wrapper.sliding-popup-top .eu-cookie-withdraw-tab {
  transform: translate(-50%, -100%) scaleY(-1);
}

/*# sourceMappingURL=eu-cookie-compliance.css.map */