/*
 * @file
 * Provides specific overrides for creating a card components.
 */
@import '../../init';

// Card borders
//
// Sets a color on any card borders.
// By default a `.card` element in a `.card-deck` can have modifier classes applied which add a border to either the
// top, bottom or both edges of the card. This declaration sets the base color for borders in a card deck as this rarely
// changes in the site design. It can of course be further overridden with additional states as defined below.
//
// Style guide: components.layouts.cards
.card-deck {
  &.border-top,
  &.border-bottom {
    .card {
      border-color: $grey-light;
    }
  }

  // Set some additional properties for search result cards
  &.search-results {
    @at-root .search-results--title {
      margin-top: 0;
    }

    .card {
      margin-bottom: 2rem;
      padding-bottom: .3rem;
    }

    h3 {
      @include adjust-font-size-to(21px, 4);
      margin-top: 0;
    }

    .meta {
      @include adjust-font-size-to(16px, 4);
      margin: 1.5rem 0;

      &-list-item {
        margin-left: 1rem;
      }
    }
  }
}

// Front page taxonomy cards
//
// Overrides / fleshes out the cards component for the home page taxonomy cards.
// Main adjustments are controlling the layout of individual 'card' using css grid declarations this is qualified using
// the `.grid` class on the same element as the `.card-deck` class is applied to.
// The main heading of the card `.card--title` and the sub-sequent text selectors have attributes set for font properties
//
// Style guide: components.layouts.cards.home-site-topics
.section--info-services {
  .card {
    &-deck {
      grid-gap: 1.2rem 20px;

      @include breakpoint($phab) {
        grid-gap: 1.5rem 20px;
        grid-template-columns: repeat(2, 1fr);
      }
    }

    &--title {
      @include adjust-font-size-to(17px, 4);
      font-weight: 700;
      margin-bottom: .2rem;
      @include breakpoint($phab) {
        @include adjust-font-size-to(18px, 4.5);
        font-weight: 700;
        margin-bottom: .3rem;
      }

      a {
        text-decoration: underline;

        &:focus {
          text-decoration: none;
        }
      }
    }

    p,
    .more-link {
      @include adjust-font-size-to(15px, 3.5);
      margin: 0;
      @include breakpoint($phab) {
        @include adjust-font-size-to(16px, 3.5);
      }
    }

    .more-link {
      font-weight: 700;
      margin-top: .2rem;

      @include breakpoint($tab) {
        margin-top: .3rem;
      }

      a {
        color: $brand-secondary;

        &:focus {
          background-color: $brand-secondary;
          outline-color: $brand-secondary;
          color: $link-focus;
        }
      }
    }
  }
}
