<address class="adr {{modifier_class}}" translate="no">
  <span class="street-address">First line - street address</span><br />
  <span class="street-address">Second line (optional) - street address</span><br />
  <span class="locality">Third line - town / locality</span><br />
  <span class="postal-code">Fourth line - post code</span><br />
  <span class="country">Fifth line (optional) - country</span>
</address>
