/*
 * @file
 * Provides layout css for banners.
 */
@import '../../init';

.banner {
  position: relative;
  width: 100%;

  img {
    display: block;
    margin: 0;
    padding: 0;

    + img {
      position: absolute;
      top: 0;
    }
  }

  &--thin {
    margin-bottom: 0;
  }

  &__strapline {
    @include responsive-typo-map($landing-page-summary);
    font-weight: normal;
    padding: 0 .9rem;
  }
}
