/*
 * @file
 * Provides the styling for creating a card component.
 */

@import '../../init';

// Card component
//
// A fairly simple component to group a number of related elements. It is envisaged that this component will frequently
// change state. These are dealt with in the states section of the theme.
//
// Style guide: components.layouts.cards
.card {
  &-deck {
    grid-template-columns: repeat(1, 1fr);

    $selector: ();
    $suffixes: ('top', 'bottom', 'left', 'right');
    // this declaration creates a number of modifier classes for a border on the `.card` children under `.card-deck`
    // one modifier for each item in the $suffixes list.
    @each $suffix in $suffixes {
      $selector: unquote('border-#{$suffix}');

      &.#{$selector} .card {
        #{$selector}: 1px solid;
      }
    }
  }

  &__title {
    margin-top: 0;
  }

  &__meta {
    @include adjust-font-size-to(15px, 3.6667);
    @include breakpoint($tab) {
      @include adjust-font-size-to(16px, 4);
    }
  }

  // Featured news card
  //
  // A specific card layout that takes .
  //
  // Style guide: components.layouts.cards.featured-news
  &--featured-news {
    display: grid;
    grid-template-columns: 100px auto;
    grid-gap: 0 1.2rem;
    max-width: 720px;
    margin-bottom: 2.4rem;

    @include breakpoint($mob) {
      grid-template-columns: 150px auto;
    }

    @include breakpoint($tab) {
      grid-gap: 0 1.5rem;
      margin-bottom: 2.7rem;
    }

    & > * {
      grid-column: 2;
      margin: 0;
    }

    .card {
      &__title {
        @include adjust-font-size-to(18px, 4);

        @include breakpoint($mob) {
          @include adjust-font-size-to(21px, 4.5);
        }
      }

      &__meta {
        color: $meta;
      }

      &__content {
        @include adjust-font-size-to(16px, 3.5);
        margin: .4rem 0;
        grid-column-start: 1;
        grid-column-end: 3;

        @include breakpoint($mob) {
          grid-column: 2;
        }

        @include breakpoint($mob) {
          margin: .6rem 0;
        }
      }

      &__image {
        grid-column: 1;
        grid-row: 1/10;

        img {
          width: 100%;
          margin: 0;
          float: none;
        }
      }
    }
  }
}

// Card decks for landing pages.
.card-deck-landing {

  // Small screens - cards are stacked in single column.
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em 20px;
  margin: 1em 0;

  // Larger screens - cards in rows of 2 or 3.
  @include breakpoint($tab, $no-query: true) {

    grid-gap: 1.5em 20px;
    margin: 1.5em 0 2.5em;

    // 3 card decks.
    &--x3 {
      grid-template-columns: 1fr 1fr 1fr;
    }

    // 2 card decks.
    &--x2 {
      grid-template-columns: 1fr 1fr;
    }

  }

  &--x3 .card {

    @include breakpoint($tab, $no-query: true) {
      // Three cards in row.
      flex: 0 31.915%;
      max-width: 300px;
    }
  }

  &--x2 .card {

    @include breakpoint($tab, $no-query: true) {
      // Two cards in a row.
      flex: 0 48.9%;
      max-width: 460px;
    }
  }

  .card { // .card wrapper is a region in layout builder that blocks can be inserted into.

    margin: 0;

    &__innards { // .card__innards wrapper is a block wrapper and carries attributes targeted by layout builder.

      // Flex to layout card innards.
      display: flex;
      flex-flow: column nowrap;

      width: 100%;
      height: 100%;

      // Some child elements will be absolutely positioned relative to the card.
      position: relative;

      // Middle screen sizes, child items (image and content) will be in a row.
      @include breakpoint($mob $tab, $no-query: true) {
        flex-direction: row;
      }
    }

    &__image {
      width: 100%;

      @include breakpoint($mob, $no-query: true) {
        width: 38%;
        padding: .5em;
      }

      @include breakpoint($tab, $no-query: true) {
        width: 100%;
        padding: 0;
      }

      picture {
        width: 100%;
        height: auto;
        margin: 0;

        img {
          width: 100%;
          height: auto;
          margin: 0;
        }
      }
    }

    &__content {
      width: 100%;
      padding: .75em;

      @include breakpoint($mob, $no-query: true) {
        width: 62%;
        padding: .75em 1em .75em .5em;
      }

      @include breakpoint($tab, $no-query: true) {
        width: 100%;
        padding: 1em;
      }

      > * {

        margin: 0 0 1em;

        &:last-child {
          margin-bottom: 0;
        }
      }

      iframe {
        margin: 0;
      }
    }

    &__title {

      margin: 0 0 .8rem;

      @include breakpoint($phab, $no-query: true) {
        margin: 0 0 .8rem;
      }

      @include breakpoint($tab, $no-query: true) {
        margin: 0 0 .9rem;
      }
    }

    &__link {
      // link covers the entire card
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }

    &__video {
      vertical-align: middle;
    }
  }
}
