/*
 * @file
 * Provides the styling for creating a card component.
 */

@import '../../init';

// Card component
//
// A fairly simple component to group a number of related elements. It is envisaged that this component will frequently
// change state. These are dealt with in the states section of the theme.
//
// Style guide: components.layouts.cards
.card {

  display: flex;
  flex-flow: column nowrap;

  &__image {
    flex: auto 1 1;
    display: flex;
    flex-flow: column nowrap;

    .media-image img {
      margin: 0;
    }
  }

  &__body {
    flex: 100% 1 1;
  }

  &__title {
    margin: 0 0 .9rem;
  }

  &__meta {
    @include adjust-font-size-to(15px, 3.6667);
    @include breakpoint($tab) {
      @include adjust-font-size-to(16px, 4);
    }

    margin: .9rem 0;
    color: $meta;
  }

  &__meta + p,
  &__content {
    margin: 0;
  }

  &-deck {
    // A deck of cards.
    // By default, use grid to layout the cards in a single column.
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
    grid-gap: 1.5em 2rem;
    margin-bottom: 1.5em;

    // .card-deck--x2 allows up to two columns of cards as screen size increases.
    &--x2 {
      @include breakpoint($phab) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content;
      }
    }

    // .card-deck--x3 allows up to three columns of cards as screen size increases.
    &--x3 {

      @include breakpoint($phab) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content;
      }

      @include breakpoint($tab) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: min-content;
      }
    }

    // .card-deck--x4 allows up to four columns of cards as screen size increases.
    &--x4 {

      @include breakpoint($phab) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content;
      }

      @include breakpoint($tab) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: min-content;
      }

      @include breakpoint($lap) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: min-content;
      }
    }

    // Card deck list.
    //
    // Cards in a single column at all screen sizes - but the layout of the card itself switches from
    // column (card image on top of card content) to row (card image left of card content) when the screen size
    // increases.
    &--list {
      max-width: 720px;
      margin-bottom: 2.5em;

      .card {
        display: flex;
        flex-flow: column nowrap;

        @include breakpoint($mob) {
          flex-flow: row nowrap;

          .card__image {
            flex: 150px 0 0;
          }

          .card__body {
            padding: 0 0 0 1em;
          }
        }
      }
    }
  }
}

// Cards with toggleable links display.
.card--multilink:hover {
  cursor: pointer;
}

// Card decks for landing pages.
.card-deck--landing {

  // Small screens - cards are stacked in single column.
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5em 20px;
  margin: 1em 0;

  // 3 card decks.
  &--x3 {
    @include breakpoint($tab, $no-query: true) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 1.5em 20px;
      margin: 1.5em 0 2.5em;
    }
  }

  // 2 card decks.
  &--x2 {
    @include breakpoint($phab, $no-query: true) {
      grid-template-columns: 1fr 1fr;
      grid-gap: 1.5em 20px;
      margin: 1.5em 0 2.5em;
    }
  }

  .card {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    &__link { // .card__link wraps everything in the card.

     // Flex to layout card innards.
     display: flex;
     flex-flow: column nowrap;

     width: 100%;
     height: 100%;

     // Some child elements will be absolutely positioned relative to the card.
     position: relative;

    }

    picture {
      width: 100%;
      height: auto;
      margin: 0;

      img {
        width: 100%;
        height: auto;
        margin: 0;
      }
    }

    &__title {

      margin: 0 0 .8rem;

      @include breakpoint($phab, $no-query: true) {
        margin: 0 0 .8rem;
      }

      @include breakpoint($tab, $no-query: true) {
        margin: 0 0 .9rem;
      }
    }

    &__content {

      width: 100%;
      padding: .75em;

      @include breakpoint($tab, $no-query: true) {
        padding: .6667em;
      }

      > * {

       &:last-child {
         margin-bottom: 0;
       }
     }

      iframe {
       margin: 0;
     }
   }
  }

  &--x3 .card { // .card wrapper is a region in layout builder that blocks can be inserted into.

    @include breakpoint($mob $tab, $no-query: true) {

      &__link {
        flex-direction: row;
      }

      &__image {
        width: 38%;
        padding: .5em;
      }

      &__content {
        width: 62%;
      }
    }
  }

  &--simple .card__content {
    // Simple landing page card decks have no images - so content is always full width.
    width: 100%;
  }

  // Prevent adding multiple cards (blocks) into a card-deck section (region) in layout builder
  section .layout-builder-block + .layout-builder__add-block {
    display: none;
  }
}
