/*
 * @file
 * Provides the layout styles for the footer area.
 */

@import '../../init';

#footer {
  background-color: color(grey-light);

  .menu-wrapper {
    > * {
      width: 100%;

      @include breakpoint($tab) {
        width: auto;
        display: inline-block;
        padding: 1em;
        margin: 1em;
      }
    }

    .nav-menu {
      li {
        display: inline;
        margin: 0;
        padding: 0;
      }

      a {
        display: inline-block;
        color: $brand-primary-dark;
        border-right: 1px solid $brand-primary-dark;
        font-size: 1.4rem;
        margin-right: 0.5em;
        padding-right: 0.5em;
        line-height: 1;
      }

      li:last-child a {
        border-right: 0;
      }
    }

    .social-media-links {
      height: auto;
      max-height: 100%;
      text-align: left;
      padding: 0;
      margin: 0;

      @include breakpoint($tab) {
        padding: 1em;
        margin: 1em;
      }

      li {
        height: 27px;
        width: 27px;
      }

      a {
        background: url('../../../images/svg-fallback-sprite.png');
        width: 27px;
        height: 27px;
      }

      a[href*='https://twitter.com'] {
        background-position: -40px 27px;
      }

      a[href*='https://www.facebook.com'] {
        background-position: 0 27px;
      }

      a[href*='https://www.youtube.com'] {
        background-position: -80px 27px;
      }

      a[href*='/news-rss.xml'] {
        background-position: -120px 27px;
      }
    }
  }
}
