/*
 * @file
 * Provides the layout styles for the footer area.
 */
@import '../../init';

.footer {
  width: 100%;
  background-color: color(grey-light);
  padding: 0 0 4.5em;
  margin-top: 0;

  &-main.container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: start;
    width: 100%;

    @include breakpoint($tab) {
      grid-template-columns: 70% 30%;
    }
  }
}
