/*
 * @file
 * Provides very specific styling for landing pages.
 */
/* Vertical rhythm presets =========================================== */
/* Set the base images folder */
/* Layout ============================================================ */
/* Breakpoints ======================================================== */
/* line 9, src/scss/5_theme/landing.scss */
.page-node-type-landing-page .info-notice,
.page-node-type-landing-page .card-deck,
.page-node-type-landing-page .accordion,
.page-node-type-landing-page .video-and-caption,
.page-node-type-landing-page .text-block {
  margin-top: 2.1rem;
  margin-bottom: 4.2rem;
}

@media (min-width: 600px) {
  /* line 9, src/scss/5_theme/landing.scss */
  .page-node-type-landing-page .info-notice,
  .page-node-type-landing-page .card-deck,
  .page-node-type-landing-page .accordion,
  .page-node-type-landing-page .video-and-caption,
  .page-node-type-landing-page .text-block {
    margin-top: 2.4rem;
    margin-bottom: 4.8rem;
  }
}

@media (min-width: 768px) {
  /* line 9, src/scss/5_theme/landing.scss */
  .page-node-type-landing-page .info-notice,
  .page-node-type-landing-page .card-deck,
  .page-node-type-landing-page .accordion,
  .page-node-type-landing-page .video-and-caption,
  .page-node-type-landing-page .text-block {
    margin-top: 3rem;
    margin-bottom: 6rem;
  }
}

/* line 26, src/scss/5_theme/landing.scss */
.page-node-type-landing-page .card-deck:not(.card-deck--plain) .card {
  border-top: 0.9rem solid #0a78cd;
  outline-width: 0;
}

/* line 32, src/scss/5_theme/landing.scss */
.page-node-type-landing-page .card-deck:not(.card-deck--plain) .card .card__image:empty ~ .card__body > p,
.page-node-type-landing-page .card-deck:not(.card-deck--plain) .card .card__image:empty ~ .card__body > li {
  font-size: 1.6rem;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  /* line 32, src/scss/5_theme/landing.scss */
  .page-node-type-landing-page .card-deck:not(.card-deck--plain) .card .card__image:empty ~ .card__body > p,
  .page-node-type-landing-page .card-deck:not(.card-deck--plain) .card .card__image:empty ~ .card__body > li {
    font-size: 1.8rem;
  }
}

/* line 37, src/scss/5_theme/landing.scss */
.page-node-type-landing-page .card-deck:not(.card-deck--plain) .card .card__image:empty ~ .card__body .card__title {
  font-size: 2.2rem;
  line-height: 1.364;
}

/* line 43, src/scss/5_theme/landing.scss */
.page-node-type-landing-page .card-deck + .card-deck:not(.card-deck--plain) {
  margin-top: -1.8rem;
}

@media (min-width: 600px) {
  /* line 43, src/scss/5_theme/landing.scss */
  .page-node-type-landing-page .card-deck + .card-deck:not(.card-deck--plain) {
    margin-top: -2.1rem;
  }
}

@media (min-width: 768px) {
  /* line 43, src/scss/5_theme/landing.scss */
  .page-node-type-landing-page .card-deck + .card-deck:not(.card-deck--plain) {
    margin-top: -2.7rem;
  }
}

/* line 56, src/scss/5_theme/landing.scss */
.page-node-type-landing-page .page-summary {
  font-size: 2rem;
  line-height: 1.4;
  margin: 2.4rem 0 3.2rem;
  font-weight: normal;
}

@media screen and (min-width: 600px) {
  /* line 56, src/scss/5_theme/landing.scss */
  .page-node-type-landing-page .page-summary {
    font-size: 2.2rem;
    line-height: 1.4546;
  }
}

@media screen and (min-width: 768px) {
  /* line 56, src/scss/5_theme/landing.scss */
  .page-node-type-landing-page .page-summary {
    font-size: 2.6rem;
    line-height: 1.3846;
    margin: 3rem 0 3.6rem;
  }
}

@media screen and (min-width: 980px) {
  /* line 56, src/scss/5_theme/landing.scss */
  .page-node-type-landing-page .page-summary {
    font-size: 3rem;
    line-height: 1.3;
    margin: 4.5rem 0 4.5rem;
  }
}

/* line 63, src/scss/5_theme/landing.scss */
.page-node-type-landing-page .card-deck--plain .card {
  padding: .6rem 1.8rem .9rem 1.5rem;
  border-left: 0.3rem solid #d9edfd;
}

/* line 67, src/scss/5_theme/landing.scss */
.page-node-type-landing-page .card-deck--plain .card:focus, .page-node-type-landing-page .card-deck--plain .card:hover {
  border-left-color: #0a78cd;
  background-color: #f3f8fc;
}

/* line 73, src/scss/5_theme/landing.scss */
.page-node-type-landing-page .card-deck--plain .card__title {
  font-size: 2.2rem;
  line-height: 1.364;
  padding: 0;
  margin: 0;
  color: #0b1951 !important;
  text-decoration: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

/* line 83, src/scss/5_theme/landing.scss */
.page-node-type-landing-page .card-deck--plain .card__title::after {
  content: none;
}

/* line 88, src/scss/5_theme/landing.scss */
.page-node-type-landing-page .card-deck--plain .card__content {
  max-width: 720px;
  padding: 0;
  margin: .8rem 0 0;
}

@media (min-width: 768px) {
  /* line 88, src/scss/5_theme/landing.scss */
  .page-node-type-landing-page .card-deck--plain .card__content {
    margin: .9rem 0 0;
  }
}

/* line 97, src/scss/5_theme/landing.scss */
.page-node-type-landing-page .card-deck--plain .card__content .more {
  white-space: nowrap;
  color: #0e6bb3;
  text-decoration: underline;
}

/* line 107, src/scss/5_theme/landing.scss */
.page-node-type-landing-page .accordion {
  border-bottom: 1px solid #00aae5;
}

/* line 111, src/scss/5_theme/landing.scss */
.page-node-type-landing-page .accordion .accordion-heading {
  padding-left: .8rem;
}

@media (min-width: 768px) {
  /* line 111, src/scss/5_theme/landing.scss */
  .page-node-type-landing-page .accordion .accordion-heading {
    padding-left: 1.5rem;
  }
}

/* line 121, src/scss/5_theme/landing.scss */
.no-js .page-node-type-landing-page .accordion .accordion-section {
  margin: 0 1.6rem 1em;
  padding: 0;
}

@media (min-width: 768px) {
  /* line 121, src/scss/5_theme/landing.scss */
  .no-js .page-node-type-landing-page .accordion .accordion-section {
    margin: 0 1.6rem 1em;
  }
}

/* line 133, src/scss/5_theme/landing.scss */
.js .page-node-type-landing-page .accordion .accordion-section.expanded {
  margin: 0 1.6rem 1em;
}

@media (min-width: 768px) {
  /* line 133, src/scss/5_theme/landing.scss */
  .js .page-node-type-landing-page .accordion .accordion-section.expanded {
    margin: 0 1.8rem 1em;
  }
}

/* line 143, src/scss/5_theme/landing.scss */
.page-node-type-landing-page .accordion .accordion-section-title {
  border-top: 1px solid #00aae5;
}

/* line 149, src/scss/5_theme/landing.scss */
.page-node-type-landing-page .card-deck--x2 .card--contact {
  margin: 0;
}

@media (min-width: 600px) {
  /* line 153, src/scss/5_theme/landing.scss */
  .page-node-type-landing-page .card-deck--x2 .card--contact .tel .title {
    font-size: 1.6rem;
    line-height: 1.5;
  }
}

@media screen and (min-width: 600px) and (min-width: 768px) {
  /* line 153, src/scss/5_theme/landing.scss */
  .page-node-type-landing-page .card-deck--x2 .card--contact .tel .title {
    font-size: 1.8rem;
  }
}

@media (min-width: 600px) {
  /* line 157, src/scss/5_theme/landing.scss */
  .page-node-type-landing-page .card-deck--x2 .card--contact .tel .value {
    font-size: 2.4rem;
    line-height: 1.3334;
  }
}

@media screen and (min-width: 600px) and (min-width: 768px) {
  /* line 157, src/scss/5_theme/landing.scss */
  .page-node-type-landing-page .card-deck--x2 .card--contact .tel .value {
    font-size: 2.7rem;
    line-height: 1.3334;
  }
}

@media screen and (min-width: 600px) and (min-width: 980px) {
  /* line 157, src/scss/5_theme/landing.scss */
  .page-node-type-landing-page .card-deck--x2 .card--contact .tel .value {
    font-size: 3rem;
    line-height: 1.3334;
  }
}

@media (min-width: 600px) {
  /* line 161, src/scss/5_theme/landing.scss */
  .page-node-type-landing-page .card-deck--x2 .card--contact .tel .supplementary {
    font-size: 1.5rem;
    line-height: 1.4;
  }
}

@media screen and (min-width: 600px) and (min-width: 768px) {
  /* line 161, src/scss/5_theme/landing.scss */
  .page-node-type-landing-page .card-deck--x2 .card--contact .tel .supplementary {
    font-size: 1.6rem;
    line-height: 1.5;
  }
}

@media (min-width: 600px) {
  /* line 149, src/scss/5_theme/landing.scss */
  .page-node-type-landing-page .card-deck--x2 .card--contact {
    padding-left: 27.5%;
  }
  /* line 169, src/scss/5_theme/landing.scss */
  .page-node-type-landing-page .card-deck--x2 .card--contact::before {
    width: 15%;
    margin: 1em 6.25%;
  }
}

@media (min-width: 768px) {
  /* line 179, src/scss/5_theme/landing.scss */
  .page-node-type-landing-page .card-deck--x3 .card--contact .tel .title {
    font-size: 1.7rem;
    line-height: 2.4rem;
  }
  /* line 183, src/scss/5_theme/landing.scss */
  .page-node-type-landing-page .card-deck--x3 .card--contact .tel .value {
    font-size: 2rem;
    line-height: 1.4;
  }
}

@media screen and (min-width: 768px) and (min-width: 600px) {
  /* line 183, src/scss/5_theme/landing.scss */
  .page-node-type-landing-page .card-deck--x3 .card--contact .tel .value {
    font-size: 2.2rem;
    line-height: 1.4546;
  }
}

@media screen and (min-width: 768px) and (min-width: 768px) {
  /* line 183, src/scss/5_theme/landing.scss */
  .page-node-type-landing-page .card-deck--x3 .card--contact .tel .value {
    font-size: 2.4rem;
    line-height: 1.5;
  }
}

@media (min-width: 768px) {
  /* line 187, src/scss/5_theme/landing.scss */
  .page-node-type-landing-page .card-deck--x3 .card--contact .tel .supplementary {
    font-size: 1.5rem;
    line-height: 2.4rem;
  }
}

@media (min-width: 768px) {
  /* line 176, src/scss/5_theme/landing.scss */
  .page-node-type-landing-page .card-deck--x3 .card--contact {
    padding-left: 27.5%;
  }
  /* line 195, src/scss/5_theme/landing.scss */
  .page-node-type-landing-page .card-deck--x3 .card--contact::before {
    width: 15%;
    margin: 1em 6.25%;
  }
}

/*# sourceMappingURL=landing.css.map */