@import '../../init';

.layout-header--logo {
  margin: 2.4rem auto;
  max-width: 375px;
  max-height: 5.5rem;
  padding: 0 15px;

  @include breakpoint($mob) {
    padding: 0;
  }

  @include breakpoint($tab) {
    width: auto;
    max-width: none;
    margin: 0;
  }

  a {
    @include link-state-style($link-site-logo);
  }
}

.site-logo {
  height: 5.5rem; // temporary - might change for bilingual logo
}
